 <div class="background-pattern"></div>
<div class="container">
    <div class="banner-space-init"></div> 
    <div class="row banner-left-outerwrap">
  <div class="col-sm-7 banner-left-innerwrap">
    <br>  
      <h1 class="seo-banner-head">B2B Content Writing Company in Bangalore</h1>
    
    <p>Whether your business is B2B (Business to Business) or B2C (Business to Customer), content writing services always prove to be the game-changer in the digital marketing field.</p>
    <p>We all very well know that content is the king in both online and offline marketing thus if you are also looking for the best B2B content writing company in Bangalore then you are standing on the right platform. Brandstory is the one-stop solution for all your business content needs.</p>
    <p>In this digital world of marketing, online efforts are more significant than offline efforts. For any business, it is very important to plan an effective and extraordinary content strategy to nurture your relationship with the existing clients and also to attract new customers.</p>
    <p>We as a B2B content writing company Bangalore is like a fuel to your business, who will speed up the pace of your business growth through our content marketing strategies.</p>
  </div>

 

  <div class="col-sm-5 banner-right-outerwrap">
    <br>
    <div class="banner-form-innerwrap" >
      
    <h4 class="banner-form-headtxt">REQUEST A FREE SEO AUDIT</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmits()">
      <div class="form-group"> 
          <input type="text" formControlName="firstName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
              <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
          </div>
      </div>

      <div class="form-group"> 
          <input type="email" formControlName="email" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>                
              <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
          </div>
      </div>

      <div class="form-group"> 
          <input type="tel" formControlName="lastName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
                  <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
                  <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
          </div>
      </div>
      <div class="form-group"> 
        <input type="text" formControlName="organisation" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name"/>
        <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
            <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
        </div>
    </div>
    <div class="form-group"> 
      <input type="url" formControlName="website" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link"/>
      <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
          <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
          <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
      </div>
  </div>
      <div class="form-group"> 
          <textarea formControlName="password" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required" class="px-3">Message is required</div> 
          </div>
      </div>
      <div class="form-group">
          <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
      </div>
  </form>
    
      </div>
  </div>
  </div>
</div>
 
<br> 
<div class="container">

  <div class="row">
    <div class="col-sm-12 mx-auto"> <br>
      <h2 class="text-center">B2B Content Writing Services in Bangalore</h2>  
      <p>B-to-B also called Business to Business, involves the transaction between businesses like between manufacturer and wholesaler, or we can say between a wholesaler and a retailer, etc. Thus it can say that it is the business conducted between companies rather than offering their services or products to any individual or customers.</p>
      <p>Brandstory is one of the renowned B2B content writing agencies in Bangalore, that helps you to connect you with a different audience or customers based on their preferences through our services that includes blog post, articles, images, Info graphics, white papers, Slide Share content, internal documentation, marketing initiatives, etc.</p>
      <p>Content is the thing that will help you be the king of online businesses as it not only engage or communicate with your audience but also to profit your business. Therefore, starting from attracting a fresh lead to closing a business deal, every business requires B2B content writing companies in Bangalore. </p>

    </div>
  </div>
 
  </div>

  <section class="elevnthsec"> 
    <div class="container py-3" >
     <div class="row">
         <div class="col-sm-12 col-md-12">            
            <h3>Below are the companies that fall under the B2B category:</h3>
            <p>Advertising & Marketing Companies, Website Developers, Commercial Real Estate Professionals, Suppliers/Manufacturers, Advertising agencies, Service Providers, Consulting Agencies, Technologies/Internet/Software, Hospitality, Healthcare, Tech Hardware, Education, Business Services, Financial Services, Engineering and machinery, Commodity and metal processing companies, Chemical industry, Wood processing, and the list goes on depending on the country, economy and many other factors.</p>
            <p>Have you ever thought, what if despite having an excellent product or services, no one knows your brand? Therefore, content is the voice for your brand that helps your business partner to understand every single notion of your products. </p>                
          <h2>Following are the reasons to choose B2B content writing company in Bangalore: </h2> 
          <ul>
            <li><h3>A pitch to convert</h3>
             <p> Efforts you take to market, your business has only one goal, to generate more and more leads and to increase ROI (Return of Investment).</p>
             <p>With the help of content, you can achieve this goal as it acts as a catalyst to grab the attention of your target audience. </p>
             <p>Being one of the pre-eminent B2B content writing agencies in Bangalore, we plan our strategy by keeping your target persona in mind, to create a strategy that includes keyword planning, audience targeting, etc.</p></li>
             <li><h3>A word to spread </h3>
              <p>If no one knows your business than all your efforts will go in vain, thus for any business to be successful your customer must know the brand. So as a B2B content writing company Bangalore, we help you in your brand awareness and also let your audience know about your product.</p></li>
              <li><h3>A relation to build</h3>
                <p>As we understand your business need, so we create content for you that will focus on the pain points of your customer and provide a solution to their problems. We follow this process to showcase your authority. </p>
              <p>Once your audience looks up for a solution, you will make a powerful bond with them and we help you nurture your relationship.</p></li>
              <li> <h3>A service to afford</h3>
              <p>Our B2B content writing services in Bangalore are comparatively affordable than any other online marketing services. With the correct utilization of our service, you can yield a good return on investment (ROI). </p></li>
          </ul>
          <p>Content is the best way, to connect with your target persona, thus the result got from this is huge and remarkable, that helps your business not only to get better conversions but also improves your ranking on search engine result page.</p>
          <p>To sum it up, Brandstory always focuses on creating quality content. Our services not only customized but also enable you to be creative and help you to achieve your business goals.</p>
          </div>         
     </div>
     

   </div>
  </section>
  

<div class="container-fluid bg-red">
    <div class="row">
        <div class="container">
            <div class="row">
        <div class="col-sm-7">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
        <p class="text-white branding-cont">We are official partners with Google, so you know that you are in the hands of a trusted and promising company.</p><br><br>
        </div>        
        </div>
        
        <div class="col-sm-4 my-auto google-container-image">
            <img  src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" alt="Official Google Partner"/>
        </div>
        </div>
        </div>
    </div>
  </div>
   <br> 
 <div class="container">  

<div class="col-sm-8">
    <ng-template #template >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()"   novalidate>
            <div class="form-group">                 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                    <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
              <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }"  placeholder="Enter email">
              <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>
                  <div *ngIf="fbannermodal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
                  <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Phone Number"/>
                <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
                </div>
            </div> 
           
  
           <div class="form-group"> 
               
                <input type="url" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link"/>
                <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
                    <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
                </div>
              </div>
    
            <div class="form-group"> 
                
                <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div> 
          </div>
              </div>
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>
     


<div class="col-sm-8">
    <ng-template #template2 >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request Case Study </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="caseStudyForm" (ngSubmit)="onSubmitCaseStudy()"   novalidate>
            <div class="form-group"> 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fcaseStudyForm.fName.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fcaseStudyForm.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed</div>
              <div *ngIf="fcaseStudyForm.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
                <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fEmail.errors }"  placeholder="Enter email">
                <div *ngIf="submitted && fcaseStudyForm.fEmail.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fEmail.errors.required" class="px-3">Email is required</div>
                    <div *ngIf="fcaseStudyForm.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
                    <div *ngIf="fcaseStudyForm.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
              </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fPhone.errors }" placeholder="Mobile Number"/>
                <div *ngIf="submitted && fcaseStudyForm.fPhone.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required</div>
                </div>
            </div> 
    
            <div class="form-group"> 
                
                <input type="text" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fService.errors }" placeholder="Company Name"/>
                <div *ngIf="submitted && fcaseStudyForm.fService.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fService.errors.required" class="px-3">Company is required</div>
                </div>
              </div>
    
             <!--<div class="form-group"> 
                <textarea class="form-control" placeholder="Message" name="fMessage" ngModel  rows="3"></textarea>
              </div> -->
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>
   

  <div class="col-sm-8">
      <ng-template #template3 >
        <div class="modal-header">
          <h4 class="modal-title pull-left">Get Quote </h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()"   novalidate>
              <div class="form-group"> 
                  <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
                  <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
                  <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed</div>
            <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
                </div>            
              <div class="form-group"> 
                  <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }"  placeholder="Enter Email">
                  <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>                     
                      <div *ngIf="fenquiryModal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
                </div>
              </div>
      
              <div class="form-group"> 
                  <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number"/>
                  <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required</div>
                  </div>
              </div> 
             
              <div class="form-group"> 
                  <select formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
                      <option disabled selected>Select a service</option>
                      <option>Design</option>
                      <option>UI/UX</option>
                      <option>Development</option>
                      <option>Digital</option>
                  </select>
                  <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select  service is required</div>
                  </div>
                </div>
      
              <div class="form-group"> 
                  <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
                  <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div> 
                  </div>
                </div>
                <br>
              <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
            
            </form>
            <br><br>
        </div>
      </ng-template>
    </div>


</div>
