<!-- Top Images -->
<div class="container-fluid sec_top">
  <div class="row ban_bg d-flex justify-content-around">
    <div class="col-sm-12 col-md-8 add1_view d-flex align-items-center">

      <div class="col-md-10 mx-auto">

        <p class="text-white head_font d-flex align-self-center">
          Reach your sales target faster with precision with Account Based Marketing
        </p>

        <p class="text-white head_para d-flex align-self-center">Accelerate time to sell by identifying exact accounts
          you
          want to connect with.</p>
      </div>

    </div>

    <div class="col-sm-12 col-md-4" style="padding: 0px;">
      <img src="../../../assets/assets_bslead/images/abm/1.png" class="img-fluid mob_image_top"
        alt="Account Based Marketing" title="Account Based Marketing">
    </div>

  </div>
</div>
<!-- Top Images -->

<div class="container-fluid py-4 sec_nav_head">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Platforms</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Start a Pilot Program</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Success Stories</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Resources</a>
      </div>
    </div>
  </div>
</div>

<!-- Nav Heading -->

<div class="container text-center py-5 add_pad20">

  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <p class=" text_new1">Set the right foundation with finest <br>Account Based Marketing agency in Bangalore,
        India</p>
      <!-- <p class=" text_new1"> Account Based Marketing agency in Bangalore, India</p> -->
    </div>

    <div class="col-md-10 mx-auto text-center mt-4">

      <p class="text_para_new">Align your sales and marketing teams for growth. Grow your revenue from key
        accounts with BrandStory’s
        Account Based Marketing approach. Plan, Build, Test, Measure, Optimize, Scale with us. Show your teams
        exactly where to focus for maximum engagement, pipeline and retention with easy-to-use insights on
        target accounts and people.
      </p>
    </div>
  </div>


</div>

<!-- body content -->
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <!-- <div class="row pb-5 d-flex justify-content-around">
            <div class="col-md-6 desktop_pdr40 add1_view d-flex align-items-center"> -->

      <div class="row pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40">

          <p class="head_p">Identify your target accounts</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Set a goal. Connect with us to identify the right
            set of target audience based on your servicable market based on your target account’s location,
            size, and decision makers. As an ABM Company in Bangalore, India we help you identify the
            precise TG</p>
        </div>
        <!-- <div class="col-md-5 offset-md-1"> -->
        <div class="col-md-6 desktop_pdl40">
          <img src="../../../assets/assets_bslead/images/abm/2.png" class="img-fluid body_image_mob"
            alt="Account Based Marketing" title="Account Based Marketing">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40 web_image">
          <img src="../../../assets/assets_bslead/images/abm/3.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>

        <div class="col-md-6 desktop_pdl40">
          <p class="head_p">Streamline decision makers</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Identify the right stakeholders of interest and in
            capacity of decision making for your service. As an Account Based Marketing company we will help
            you identify the
            right intent and tailor the right messaging
            and collaterals to help you strike a conversation with them.</p>
        </div>

        <div class="col-md-6 desktop_pdr40 mobileview_image">
          <img src="../../../assets/assets_bslead/images/abm/3.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40">
          <p class="head_p">Engage with stakeholders</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Move the needle at every step. With BrandStory, one
            of the best Account Based Marketing company in Bangalore, will help deliver a truly personalized
            experience to your target audience, by customizing message flows. This helps your target account
            connect better with your service on a direct and 1 on 1 basis.

          </p>
        </div>

        <div class="col-md-6 desktop_pdl40">
          <img src="../../../assets/assets_bslead/images/abm/4.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40 web_image">
          <img src="../../../assets/assets_bslead/images/abm/5.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>

        <div class="col-md-6 desktop_pdl40">
          <p class="head_p">Optimise touch points & messaging</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">With continuous and relevant message flows, at
            every touch point, BrandStory helps sales and marketing teams to maximize the quality of
            conversations
            with their target account stakeholders.
          </p>
        </div>

        <div class="col-md-6 desktop_pdr40 mobileview_image">
          <img src="../../../assets/assets_bslead/images/abm/5.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>
      </div>

      <div class="row pt-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40">
          <p class="head_p">Measure success of Account Based Marketing</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">With BrandStory, one of the best Account Based
            Marketing companies in Bangalore, use our real-time reporting and know exactly how your ABM
            efforts are contributing to your bottom line, allowing for continuous improvement.</p>
        </div>

        <div class="col-md-6 desktop_pdl40">
          <img src="../../../assets/assets_bslead/images/abm/6.png" class="body_image_mob" alt="Account Based Marketing"
            title="Account Based Marketing">
        </div>
      </div>


    </div>
  </div>
</div>
<!-- body content -->

<!-- Account Based Marketing -->
<div class="container py-5">
  <div class="col-md-12 mx-auto text-center">
    <hr>
    <!-- <div class=" bg_img">
            <p class="text-center case_study"> CASE STUDIES</p>
        </div> -->

    <img src="../../../assets/assets_bslead/images/abm/market_process_wtrmrk.png" alt="Account Based Marketing"
      title="Account Based Marketing" class="img-fluid recent_img">
    <p class="case_image">Account Based Marketing</p>
  </div>

  <p class="col-md-12 mx-auto text-center step_text">A step by step process</p>

  <p class="col-md-12 mx-auto text-center mt-5">
    <img src="../../../assets/assets_bslead/images/abm/brand_process.png" alt="Account Based Marketing"
      title="Account Based Marketing" class="img-fluid process_img">
  </p>

</div>
<!-- Account Based Marketing -->

<!-- PILOT PROGRAM -->

<div class="container-fluid pilot_pody1 py-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <p class="pilot_prog">PILOT PROGRAM</p>
      <p class="pilot_h2">Get custom recommendations for Account based marketing</p>
      <p class="pilot_cnt">Meet your real audience and generate revenue results</p>
    </div>
  </div>
</div>

<!-- PILOT PROGRAM -->

<!-- PILOT PROGRAM2 -->
<div class="container-fluid pilot_pody2 py-5" *ngIf="false">
  <div class="text-white">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <p class="pilot_p2">Tried and tired of every kind of marketing this season? Connect with BrandStory to
          leverage Demand Generation for your teams.</p>

        <br>

        <div class="row">
          <div class="col-sm-9 mx-auto list_text">

            <ul class="ul_mob_left float-left">
              <li style="list-style-image: url('../../../assets/assets_bslead/images/abm/tick_list.png')">
                You
                Get</li>
              <li style="list-style-image: url('../../../assets/assets_bslead/images/abm/tick_list.png')">
                You
                Get</li>
            </ul>

            <ul class="ul_mob_right float-right">
              <li style="list-style-image: url('../../../assets/assets_bslead/images/abm/tick_list.png')">
                You
                Get</li>
              <li style="list-style-image: url('../../../assets/assets_bslead/images/abm/tick_list.png')">
                You
                Get</li>
            </ul>

          </div>

        </div>

        <div class="text-center mt-2">
          <button type="button" class="btn btn-gray">Opt-in for a pilot program</button>
        </div>

      </div>
    </div>




  </div>
</div>
<!-- PILOT PROGRAM2 -->

<!-- ABM better -->
<div class="container py-5">

  <p class="text-center abm_btr">Let’s get to know ABM better</p>

  <div class="row">
    <!-- <div class="col-sm-6 pt-4" *ngFor="let item of faq_array; let i=index;">
            <div class="card">
                <div class="card-body">
                    <p class="float-left w_90">
                        {{item.title}}
                    </p>

                    <span class="float-right icon_right" (click)="faq_click(i);">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="" *ngIf="item.checked">
                    <p class="faq_message">
                        {{item.message}}
                    </p>
                </div>
            </div>
        </div> -->

    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            Account Based Marketing for Small Sized Businesses
          </p>
          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            Account Based Marketing for Medium Sized Businesses
          </p>
          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            Account Based Marketing for Enterprises
          </p>
          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            Account Based Marketing for Startups
          </p>
          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            See how can Account Based Marketing can drive revenue for your business
          </p>

          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
    <div class="col-sm-6 pt-4">
      <div class="card">
        <div class="card-body">
          <p class="float-left w_90">
            Account Based Marketing is the most effective and yields quick results

          </p>
          <a href="#" class="float-right icon_right">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>

  </div>


</div>
<!-- ABM better -->

<!-- Faq ABM -->
<div class="container py-5">

  <div class="col-md-7 mx-auto text-center">
    <hr>
    <img src="../../../assets/assets_bslead/images/abm/abm_qs.png" alt="Account Based Marketing"
      title="Account Based Marketing" class="img-fluid faq_img">
    <p class="case_image1">FAQ’S on ABM</p>
  </div>

  <div class="col-md-10 mx-auto pt-5">
    <div class="row" *ngFor="let item of faq_array; let i=index;">
      <p class="float-left w_95">
        {{item.title}}
      </p>

      <span class="float-right" (click)="faq_click(i);">
        <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !item.checked,' fa-minus': item.checked}"></i>
      </span>

      <!-- <div class="" *ngIf="item.checked">
                <p class="faq_message">{{item.message}}
                </p>
            </div> -->

      <div class="col-12 mb-3" *ngIf="item.checked">
        <ul class="desc_width90">
          <li class="list_h30" *ngFor="let list of item.message_list;">
            <div class="fa_hand_p10">
              <i class="fa fa-share" aria-hidden="true"></i>
            </div>
            <div class="text_w90">
              <span class=""> {{list}} </span>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- Faq ABM -->

<!-- <div class="container py-5">

    <div class="col-md-7 mx-auto text-center">
        <hr>
        <img src="../../../assets/assets_bslead/images/abm/abm_qs.png" class="faq_img">
        <p class="case_image1">FAQ’S on ABM</p>
    </div>

    <div class="row">
        <p class="float-left w_95">
            What are the Digital Marketing Trends for 2020?
        </p>
        <button type="button" class="btn float-right" (click)="faq_click(1);">
            <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !selectedTab,' fa-minus': selectedTab ==1}"></i>
        </button>

        <div class="card card-body" *ngIf="selectedTab ==1">
            <p class="faq_message">The reality of modern digital marketing is quite simple – to target a particular
                set of audience and
                being conversational as well as personalized. Not long ago, Data-driven and Programmatic Marketing
                using Artificial Intelligence were considered as aspiring and bold concepts that bordered on the
                ridiculous. But currently, these are the most preferred digital marketing techniques for 2020. Along
                with these, other methods such as Social Media Marketing, Content Marketing, Search Engine
                Marketing, Micro-moments Marketing, Voice and Visual Search Engine Optimization, Chatbots,
                Omni-channel Marketing, Personalized Marketing, Influencer Marketing and Video Marketing still
                continue to be among the top priorities for various online business owners in the year 2020.</p>
        </div>
    </div>

    <div class="row">
        <p class="float-left w_95">
            What is an example of digital marketing?
        </p>
        <button type="button" class="btn float-right" (click)="faq_click(2);">
            <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !selectedTab,' fa-minus': selectedTab ==2}"></i>
        </button>

        <div class="card card-body" *ngIf="selectedTab==2">
            <p class="faq_message">The concept of digital marketing is quite simple. It aims at promoting brands and
                businesses through
                various digital technologies that include the internet, MMS, SMS, etc. All marketing strategies
                include setting certain objectives that are based on the survey of the target audience and the
                prevailing market information and then selecting a preferable marketing channel and/or platform. As
                an example, imagine a brand that wants to promote one of its products online. This can be done
                through Social Media Marketing on Social Media Platforms such as Facebook, Instagram, or Twitter.
                The process would include launching a marketing campaign that centers on the product and brand
                awareness.</p>
        </div>
    </div>

</div> -->



<!-- better decisions -->
<div class="container-fluid py-5 better_dc">
  <div class="row">
    <div class="col-md-10 mx-auto text-center">
      <!-- <p class="btr_p"><span>
                <a href="https://brandstory.in/" class="text-black1">Better discussions, better decisions</a></span></p> -->

      <p class="btr_p">Better discussions, better decisions</p>

      <p class="btr_p2">We are for everyone - Startups, SMBs, Enterprises. Connect with us for a conversation.</p>
      <br>
      <a (click)="openModal(template)" role="button" class="speek_us">Speak to us
        <span><img src="../../../assets/assets_bslead/images/abm/right_arrow_long.jpg" alt="Account Based Marketing"
            title="Account Based Marketing"></span>
        <!-- <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> -->
      </a>

    </div>
  </div>
</div>
<!-- better decisions -->


<div class="container" *ngIf="false">
  <div class="enquire">
    <div class="jumbotron text-center bg-red p-4">
      <h1 class="display-4 text-white">Get started with us</h1>
      <a class="btn btn-lg mt-3 enquiry-btn" (click)="openModal(template)" role="button"> Enquire</a><br><br>
      <a class="btn btn-link text-white" routerLink="/contact-us" role="button">Or Contact Us</a>
    </div>
  </div>
</div>

<div class="col-sm-8">
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Get Quotes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()" novalidate>

        <div class="form-group">
          <input type="text" formControlName="fName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name" />
          <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
            <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed
            </div>
            <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="fEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }" placeholder="Enter Email">
          <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>
            <div *ngIf="fenquiryModal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>

          </div>
        </div>

        <div class="form-group">
          <input type="tel" formControlName="fPhone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number" />
          <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required
            </div>
            <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="organisation" class="form-control banner-form-field"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.organisation.errors }"
            placeholder="Organization Name" />
          <div *ngIf="submitted && fenquiryModal.organisation.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.organisation.errors.required" class="px-3">Organization Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <select formControlName="fService" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
            <option disabled selected>Select a service</option>
            <option>Design</option>
            <option>UI/UX</option>
            <option>Development</option>
            <option>Digital</option>
          </select>
          <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select service is required</div>
          </div>
        </div>

        <div class="form-group">
          <textarea formControlName="fMessage" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fMessage.errors }" placeholder="Message" rows="2"
            style="height:auto !important;"></textarea>
          <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

      </form>

      <br><br>
    </div>
  </ng-template>
</div>
