 <div class="background-pattern"></div>
<div class="container">
    <div class="banner-space-init"></div> 
    <div class="row banner-left-outerwrap">
  <div class="col-sm-7 banner-left-innerwrap">
    <br>  
      <h1 class="seo-banner-head"> Digital Marketing Company for Educational Institutes in Bangalore </h1>
    
    <p>At its core, linking society's material requirements with its economic patterns of response has always been the responsibility of marketing. The ‘needs’ and the ‘wants’ of either party, consequently, have been satisfied by the mutual exchange of benefits, and more importantly, by building unmoving, long-term relationships. </p>

    <p>The internet has come a long way since CERN first made the World Wide Web technology available for everyone to use in 1991. Now we can keep up with our friends and family in real-time, receive opinions of people across the globe, watch cats do silly things, et al. As a result, the internet has also affected the way people purchase goods and services.</p> 
      
    <p>Marketing has always been about connecting with your audience in the right place, and at the right time. The segue from real-space marketing to digital marketing has demanded the enterprises to go online-- the place where their customers are spending the most of their time, and the place where they are most easily accessible.</p>
      
    <p>That said, out of hundreds of thousands that try to market their business online, only a few get successful enough to cover up their investments. For instance, many educational institutions-- schools and colleges, and their marketing teams face challenges regularly, trying to create an impact that could benefit their organization, thus digital marketing for educational insititutes is the way to go. </p>
    
  </div>

 

  <div class="col-sm-5 banner-right-outerwrap">
    <br>
    <div class="banner-form-innerwrap" >
      
    <h4 class="banner-form-headtxt">REQUEST A FREE SEO AUDIT</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmits()">
      <div class="form-group"> 
          <input type="text" formControlName="firstName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
              <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
          </div>
      </div>

      <div class="form-group"> 
          <input type="email" formControlName="email" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>                
              <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
          </div>
      </div>

      <div class="form-group"> 
          <input type="tel" formControlName="lastName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
                  <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
                  <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
          </div>
      </div>
      <div class="form-group"> 
        <input type="text" formControlName="organisation" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name"/>
        <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
            <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
        </div>
    </div>
    <div class="form-group"> 
      <input type="url" formControlName="website" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link"/>
      <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
          <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
          <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
      </div>
  </div>
      <div class="form-group"> 
          <textarea formControlName="password" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required" class="px-3">Message is required</div> 
          </div>
      </div>
      <div class="form-group">
          <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
      </div>
  </form>
    
      </div>
  </div>
  </div>
</div>
 
<br> 

<div class="container"> 
  <div class="row ">
    
      <div class="col" id="main">

          <div class="services-card ">
           
              <div class="title-container mx-auto my-5 ">
                  <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                      <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
                    </div>
                <h3 class="casestudies-rear-txt">Digital</h3>
                <h1 class="need-shadow-txt">Digital marketing services for educational institutes in bangalore</h1><br>
                <p class="text-center"><b>Challenges Faced</b><br>

                  With digital marketing getting competitive by the day, as more and more businesses of a particular niche target the same audience, no matter what clever tactics one implements, the challenges will keep piling up. To name a few, here are the challenges faced by educational organizations regularly. 
                  </p>
              </div>
                <br>


              <div class="card-deck">
                  <div class="card border-0"> 
                    <div class="card-body "> 
                      <div class="mb-4">
                          <img  src="assets/images/wp-content/uploads/2018/04//seo-img1.png" alt="Banking On Traditional Marketing"/>
                      </div>
                      <h6 class="font-weight-bold py-2 need-head">Banking On Traditional Marketing Approach</h6>
                      <p class="card-text need-para">What 'traditional marketing' means, depends on how far back in history one chooses to go. While even ancient Egyptians made posters to sell their products, most of the marketing methods we see today are a direct or indirect result of the Industrial Revolution. And while those methods worked in that era, it is only obvious that one should adopt better schemes with the changing times. Moreover, getting posters printed and hosted on giant billboards, broadcasting advertisements are very expensive and guarantee very low material returns just like cold calling and emailing (most of which directly goes into the receiver’s spam folder).</p>  
                          
                                  
                  
                    </div>
                  </div>
          
                  <div class="card border-0"> 
                      <div class="card-body "> 
                        <div class="mb-4">
                            <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben8.png" alt="traditional marketing"/>
                        </div>
                        <h6 class="font-weight-bold py-2 need-head">Slow Decision Making Within The Organization</h6>
                        <p class="card-text need-para">Slow decisions inherently disrupt innovation and frustrate the employees and the clients of the business. While being a perfectionist is a good trait, if the organizational team is getting too wrapped up with probabilities and numerical figures, then it will not be able to further its business.</p>             
                    
                      </div>
                    </div>

                    

              </div>
          </div>
          <div class="services-card ">
             
  
                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body "> 
                        <div class="mb-4">
                            <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben3.png" alt="Impatient For Quick Results"/>
                        </div>
                        <h6 class="font-weight-bold py-2 need-head">Impatient For Quick Results</h6>
                        <p class="card-text need-para">Building a brand name is a long and tedious process. While some businesses rise quickly by offering unreasonable deals and offerings to their clients, it is an altogether different sport for schools, colleges and the administrative teams governing them. Any such team which is looking for quick results must understand that patience implies power in marketing and strategizing. While the pressure to produce results is undeniable, with a modicum of active patience one will be able to champion maintaining healthy relations with their consumers, thus the digital marketing strategy for schools may be a slightly time consuming process that has a great ROI.</p> 
                         
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body "> 
                          <div class="mb-4">
                              <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben4.png" alt="digital marketing"/>
                          </div>
                          <h6 class="font-weight-bold py-2 need-head">Poor Content Evaluation Strategy</h6>
                          <p class="card-text need-para">Content is a crucial factor in digital marketing. The results of developing the right kind of content will directly reflect in the quality and the number of your clients and audience in general. But this is a gargantuan task which involves the schools or the educational institution’s administrative team in question to come up with a bigger team which shall comprise of students, vending professionals, web-specialists and communication experts. The content design team must generate material such that it can target a particular set of the audience without pulling other sections off. And as most businesses fail to achieve this, this remains one of the most common challenges.</p>             
                      
                        </div>
                      </div>
                      
  
                </div>
            </div>          
          


          
      </div>
    
  </div>
</div>


 



<div class="container"> 
  <div class="row py-3">
    
      <div class="col" id="main">

          <div class="services-card ">
           <br>
              <div class="title-container mx-auto my-5 ">
                  <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                      <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
                    </div>
                <h3 class="casestudies-rear-txt">Digital</h3>
                <h1 class="need-shadow-txt">Developing a Digital Marketing Road Map For Educational Institutions In Bangalore</h1><br>
                <p class="text-center">If you are an educational administration, then digital marketing for the education industry can help a business struggling to reach its target audience. Wouldn’t it just be great if you had a time-efficient and yet cost-effective Internet Marketing Road Map? Well, here you go. 
                  </p>
              </div>
                <br>


              <div class="card-deck">
                  <div class="card border-0"> 
                    <div class="card-body "> 
                      <div class="mb-4">
                          <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben1.png" alt="search engine optimization"/>
                      </div>
                      <h6 class="font-weight-bold py-2 need-head">Asset Readiness</h6>
                      <p class="card-text need-para">In today’s date and time, search engine optimization (SEO) is no longer limited to the use of language or the keywords used. With changing norms and regulations, only the strongest of websites will be listed on the top.</p> 

                      <p class="card-text need-para">That being said, given the plethora of options in the city of Bangalore, one cannot turn a blind eye to other marketing collaterals such as institution brochures, event promotion flyers, retractable banner stands etc. </p>
                        
                      <p class="card-text need-para">Moreover, getting media attention has always been a great focal point for marketing one’s business. What one could also do, is include media content about the school or the college’s infrastructure, the academic curriculum, the co-curricular activities, and so forth. Given that, the educational institutions cannot and should not neglect developing traffic-oriented content which prides over an effective pitch.</p>  
                          
                                  
                  
                    </div>
                  </div>
          
                  <div class="card border-0"> 
                      <div class="card-body "> 
                        <div class="mb-4">
                            <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben5.png" alt="Go To Market- Organic Campaigns"/>
                        </div>
                        <h6 class="font-weight-bold py-2 need-head">Go To Market- Organic Campaigns</h6>
                        <p class="card-text need-para">Online marketing strategies for educational institutions is one of the first few steps that the school or the college needs to take to organically improve its success rate is to make a diagnosis of its health, and identify its strengths and weaknesses, identify what makes its brand, what defines it, and what is it that the school or the college wants to be known for. The direct result of this would be the identification of your audience, your final goals and the methods and the tactics that you are going to make use of to achieve it.</p>

                        <p class="card-text need-para">Moreover, Google Analytics is continually evolving. This implies that even if you think that your website is optimized in terms of language and keyword usage, you cannot escape the possibility that your website won’t be listed in the top search results. To fix this, various other variables demand your attention-- typical 404 errors, broken XML sitemaps, irrelevant content, among others. </p>
                          
                        <p class="card-text need-para">To increase your online presence, yet another method you can adopt is Digital PR. These agencies network with multiple influencers and bloggers to gain social media mentions, high-quality backlinks and help improve your SEO, overall. Something else that you can do is optimize your institution’s website for mobile, and use content which is more relevant for the people of Bangalore, and more importantly, strategically positioning all the regular reviews from the happy patrons.</p>             
                    
                      </div>
                    </div>

                    

              </div>
          </div>
          <div class="services-card ">
             
  
                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body "> 
                        <div class="mb-4">
                            <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben3.png" alt="Go To Market- Paid Campaigns"/>
                        </div>
                        <h6 class="font-weight-bold py-2 need-head">Go To Market- Paid Campaigns</h6>
                        <p class="card-text need-para">Whoever said that the best things in life are free, obviously didn’t know much about digital marketing. While organic marketing offers great promise, it doesn’t pay off as much as today’s comprehensive paid advertising strategies. </p>

                        <p class="card-text need-para">For every search campaign that you wish to take on, you can choose and decide how much Google has to spend to display your ads. Moreover, as the youth are spread across various social media platforms including Twitter, Facebook, Instagram, Snapchat, and also LinkedIn-- something that is optimized for committing to a B2B audience, it becomes strategically obvious to be present on all these portals and spread the budget according to the modern standards. </p>
                          
                        <p class="card-text need-para">This will involve embracing Ad models like CPM (cost per thousand), where the publisher charges you a flat rate for every thousand impressions, CPL (cost per lead), where the advertisers compensate you whenever someone views your advertisement, clicks on it, or takes any further action that could become, in the foreseeable future, a lead for an admission, or a sale of any kind.</p> 
                         
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body "> 
                          <div class="mb-4">
                              <img  src="assets/images/wp-content/uploads/2019/icons/seo/ben6.png" alt="digital marketing"/>
                          </div>
                          <h6 class="font-weight-bold py-2 need-head">Analytics</h6>
                          <p class="card-text need-para">Analytics in digital marketing hints at converting noticeable customer behaviour into actionable business-oriented data. This is an important step, as it shall help the school or the college not only in understanding their customers but also improving the way they market to them. </p>

                          <p class="card-text need-para">This will involve segregating and integrating the data from the previous and the present students and their parents, their household incomes, new townships in and around the vicinity, among other information. The administration can then scale the marketing operations, working on various subsets of client profiles and other data points-- all of which sounds tedious but is possible, and more importantly, a necessity.
                            </p>             
                      
                        </div>
                      </div>
                      
  
                </div>
            </div>

           
         
      </div>
    
  </div>
</div>


<div class="container-fluid bg-red p-0">
  <div class="row"> 
          <div class="row">

      <div class="col-sm-1 my-auto p-0">
          <img  src="assets/images/wp-content/uploads/2019/icons/seo/gold-medal.png" alt="SEO Services Bangalore"/>
      </div>

      <div class="col-sm-11 pl-5">
      
      <div class="google-container">
      <h2 class="mt-5 branding-get-quote-text roi text-white ">ROI Lead Best SEO Company/Agency in Bangalore India</h2>
      <p class="text-white branding-cont">We are group of passionate digital marketing experts; industry thought leaders and creative designers coming together to produce stunning ROI lead digital marketing campaigns for brands. We are a social media marketing agency based in Bangalore, India providing digital marketing campaign management support to brands across the globe.</p><br><br>
      </div>
      
      </div>
      </div> 
  </div>
</div>
 <br><br>

<div class="container">

  <div class="row">
    <div class="col-sm-12 mx-auto"> 
      <div class="title-container mx-auto my-5 ">
        <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
            <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
          </div>
      <h3 class="casestudies-rear-txt">BRANDSTORY</h3>
      <h3 class="need-shadow-txt">About Brandstory</h3>
      
    </div>   
  

 <p>With businesses growing faster than ever-- online, mostly, digital marketing is steadily becoming an integral part of the daily marketing strategy. Whether it is developing a brand, or a product, highlighting oneself in something which is effectively a pool of competitors, is a problem faced by all businesses-- educational institutions most of all.</p> 
  
  <p>Brandstory is a digital marketing company for schools in bangalore  that helps all such institutions to climb out of the bucket and get the recognition they deserve. All this is a result of solid data analysis, strategizing according to the client’s point of view, and hard-on execution. Through eye-candy UI/UX, practical Mobile App Design, Social Media Management, SEO, and web development in general, we are easily one of the best digital marketing agency for universities in bangalore. </p>
  
 <p> With years of experience in this arena, providing digital marketing services for colleges in bangalore. We are a group of industry-leading creative designers, who spearhead digital marketing campaigns for brands that need our support management. Embracing us, not only will you get complete administrative control over the data, but will be able to track your growth in real-time.</p> 
  
             
 <p>Despite the cut-throat competition, we have stood out as the first choice for hundreds of brands for marketing a bunch of different projects. Our ability to analyze the outcome is something that sets us apart. So, if you are someone who needs digital consulting, or marketing solutions for schools, colleges, or other educational institutions, or is simply looking for a way of getting out of the bucket in general, feel free to write back to us. </p>
    </div>
  </div>
 
  </div>
  



<div class="title-container mx-auto my-5 ">
    <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
        <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
      </div>
  <h3 class="casestudies-rear-txt">QUESTIONS</h3>
  <h3 class="testimonial-shadow-txt">FAQs</h3>
</div>

<div class="container">
  <div class="faq" itemscope itemtype="http://schema.org/FAQPage">
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">1. Is digital marketing essential for educational institutes?</h2>
    <span itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text"> <p>In the present day, the internet has become the major source of information. According to the recent census, 29% of the Indian population is between the age of 0-14 years old. This implies that the educational institutes are in very high demand, and the best way to go about is digital marketing. It is not a want but a need. Digital marketing services for colleges in bangalore have been in high demand these past few years.</p> 
          </span>
          </span>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">2. What modes can I use to promote my institute?</h2>
    <span itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text"><p>First and foremost, one might need a cool website for their educational institute, which is user-friendly, in terms of the flow and ease of navigation. Next, come the social media and search engine optimization (SEO) modes. A short video of the school/college and the facilities they provide would also be a good promotion strategy as it can attract more prospective students. </p>
    </span></span>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">3. Does digital marketing help increase admissions in my institute?</h2>
    <span itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text"> <p>Of course, digital marketing increases the admission rate of a school/university. If your marketing campaigns have attracted enough students and your digital presence is so good, your conversion rate is higher, and the admission rate skyrockets. Digital marketing company for schools have been following good strategies and have seen wondrous effects.</p>
     </span></span>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">4. How do educational institutes promote themselves on social media?</h2>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Digital marketing agency for university  have done a good job by doing the following. First, build up your community by following students and their family member's social media handles. Promote your social media profile by providing the link in all your print and display advertisements. Provide quality content every time you post on social media. And don't forget to post content whenever you have an opportunity.

    </span></p>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">5. What challenges will I face if I digitally market my institute?</h2>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">You are not alone once you enter the digital world. Your competitors are ready to duplicate your content if you post good content, and they are ready to criticize you when you run poor campaigns. Also, it becomes a huge challenge to keep up with the current web trends and provide quality content for all your posts. If you are posting a video, you need to be a video expert or might need to hire a professional.
      </span></p>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">6. What will be the objective if I choose digital marketing for my educational institute?</h2>
    <span itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text"> <p>The primary objective will be to create an awareness of your educational institute. The next step will be to generate leads and then engage with your audience for improved results. After all, marketing is all about attracting, educating, and delighting your customers.</p>
           
          </span>
          </span>
    </span>
  
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">7. How to attract parents to enroll their child in my educational institute?</h2>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">The only thing parents want for their child is to have a good and happy education. So, when you are promoting your educational institute, make sure to mention the facilities you offer, the kind of activities the institute provides, the quality of education you provide. Also, make sure to show the kind of safe, happy environment the institute provides. (anti-bullying and anti-ragging). Show off your institute's reputation, which not only attracts the parents but also convinces them that their kid should study in your institute.
     </span></p>
    </span>
  
  <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">8. What are the tools that help to analyze my institute's performance?</h2>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">There are a lot of paid and free tools that help analyze the performance of any institute. The following are tools that assess digital marketing in the education industry.
      <ul>
        <li>R Programming</li>
        <li>Tableau</li>
        <li>Python</li>
        <li>SAS</li>
        <li>Excel</li>
        <li>RapidMiner</li>
      </ul></span></p>
    </span>
  
  
  <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name">9. What kind of campaigns can be run to promote my institute?</h2>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">
      Online marketing strategies for educational institutions include running a video campaign such as a tour around the campus, so students can see what you have to offer or a video of the current students in your campus asking them what they love about the institute. Post-user-generated content so the students can relate with your content more, and they develop a sense of brand loyalty.
    
    </span></p>
    </span>
    <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
      <h2 itemprop="name">10. Who will be the target audience for my educational institute's marketing campaigns?</h2>
      <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">
        The target audience is different for each type of educational institute. For play schools and schools, the target audience for all your marketing campaigns would be parents as the kids are not mature enough to make their own life-changing decisions. If you are a college or a university, you would be the students as they are at a stage to follow the career of their choice. So, the school digital marketing strategy is different from a university.
      </span></p>
      </span>
   
    </div>
  </div>
  
<br><br>

<div class="container-fluid bg-red">
    <div class="row">
        <div class="container">
            <div class="row">
        <div class="col-sm-7">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
        <p class="text-white branding-cont">We are official partners with Google, so you know that you are in the hands of a trusted and promising company.</p><br><br>
        </div>        
        </div>
        
        <div class="col-sm-4 my-auto google-container-image">
            <img  src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" alt="Official Google Partner"/>
        </div>
        </div>
        </div>
    </div>
  </div>
   <br> 
 <div class="container">  

<div class="col-sm-8">
    <ng-template #template >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()"   novalidate>
            <div class="form-group">                 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                    <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
              <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }"  placeholder="Enter email">
              <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>
                  <div *ngIf="fbannermodal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
                  <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Phone Number"/>
                <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
                </div>
            </div> 
           
  
           <div class="form-group"> 
               
                <input type="url" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link"/>
                <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
                    <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
                </div>
              </div>
    
            <div class="form-group"> 
                
                <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div> 
          </div>
              </div>
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>
     


<div class="col-sm-8">
    <ng-template #template2 >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request Case Study </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="caseStudyForm" (ngSubmit)="onSubmitCaseStudy()"   novalidate>
            <div class="form-group"> 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fcaseStudyForm.fName.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fcaseStudyForm.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed</div>
              <div *ngIf="fcaseStudyForm.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
                <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fEmail.errors }"  placeholder="Enter email">
                <div *ngIf="submitted && fcaseStudyForm.fEmail.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fEmail.errors.required" class="px-3">Email is required</div>
                    <div *ngIf="fcaseStudyForm.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
                    <div *ngIf="fcaseStudyForm.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
              </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fPhone.errors }" placeholder="Mobile Number"/>
                <div *ngIf="submitted && fcaseStudyForm.fPhone.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required</div>
                    <div *ngIf="fcaseStudyForm.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required</div>
                </div>
            </div> 
    
            <div class="form-group"> 
                
                <input type="text" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fService.errors }" placeholder="Company Name"/>
                <div *ngIf="submitted && fcaseStudyForm.fService.errors" class="invalid-feedback">
                    <div *ngIf="fcaseStudyForm.fService.errors.required" class="px-3">Company is required</div>
                </div>
              </div>
    
             <!--<div class="form-group"> 
                <textarea class="form-control" placeholder="Message" name="fMessage" ngModel  rows="3"></textarea>
              </div> -->
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>
   

  <div class="col-sm-8">
      <ng-template #template3 >
        <div class="modal-header">
          <h4 class="modal-title pull-left">Get Quote </h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
          <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()"   novalidate>
              <div class="form-group"> 
                  <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
                  <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
                  <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed</div>
            <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
                </div>            
              <div class="form-group"> 
                  <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }"  placeholder="Enter Email">
                  <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>                     
                      <div *ngIf="fenquiryModal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
                </div>
              </div>
      
              <div class="form-group"> 
                  <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number"/>
                  <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required</div>
                      <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required</div>
                  </div>
              </div> 
             
              <div class="form-group"> 
                  <select formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
                      <option disabled selected>Select a service</option>
                      <option>Design</option>
                      <option>UI/UX</option>
                      <option>Development</option>
                      <option>Digital</option>
                  </select>
                  <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select  service is required</div>
                  </div>
                </div>
      
              <div class="form-group"> 
                  <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
                  <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
                      <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div> 
                  </div>
                </div>
                <br>
              <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
            
            </form>
            <br><br>
        </div>
      </ng-template>
    </div>


</div>
