<div class="background-pattern mobile"></div>
<div class="container">
    <div class="banner-space-init"></div> 
    <div class="row banner-left-outerwrap">
  <div class="col-sm-7 banner-left-innerwrap"> 
    <h1 class="seo-banner-head">
      ORM Company Bangalore India
    </h1>
    <br>
    <h5 class="seo-banner-subtxt">
      Brandstory's Online Reputation Management Services are the benchmark to the ORM, online reputation management Industry in Bangalore, India. 
    </h5>
    <h5 class="seo-banner-subtxt">
      We ensure every individual, brands, and companies protect their name online through our bespoke approach to the reputation problem.
    </h5>    
    <br><br>
    <a (click)="openModal(template)"  class="banner-request-btn ">KNOW MORE HERE</a>
    <br><br>
 
  </div>

  

  <div class="col-sm-5 banner-right-outerwrap">
    <div class="banner-form-innerwrap" >
    <h4 class="banner-form-headtxt">GET IN TOUCH WITH US</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmits()">
        <div class="form-group"> 
            <input type="text" formControlName="firstName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
                <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
        </div>
 
        <div class="form-group"> 
            <input type="email" formControlName="email" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>
                <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-group"> 
            <input type="tel" formControlName="lastName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number"/>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
                <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
                    <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
                    <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
        </div>
        <div class="form-group"> 
          <input type="text" formControlName="organisation" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name"/>
          <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
              <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
          </div>
      </div>
      <div class="form-group"> 
        <input type="url" formControlName="website" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link"/>
        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
            <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
            <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
        </div>
    </div>
        <div class="form-group"> 
            <textarea formControlName="password" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="px-3">Message is required</div> 
            </div>
        </div>
        <div class="form-group">
            <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
        </div>
    </form>
   
      </div>
  </div>
  </div>
</div>
  

 
 <!-- who we are 2 -->

 <div class="container-fluid p-0" >
  <div class="row">
      <div class="col-sm-6 px-5 bg-red">
          <div class="py-2 sticky-top flex-grow-1">
              <div class="nav flex-sm-column">
                  <div class="title-container mx-auto my-3 py-5">

                      <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                          <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: #ffffff; width: 30px; margin: 0px auto;"></span>
                        </div>
                    <h3 class="seo-whybrandstory-shadow-txt">WHO WE ARE</h3>
                    <h3 class="seoblr-choosing-rear-txt">ABOUT BRANDSTORY</h3>
                  </div>
                  <P class="choosing-ul-p">
                    Brandstory is a leading reputation management company based in Bangalore, India that narrow down in identifying, suppressing and eliminating negative content online against your, Name, Brand / Company or your IP. 
                  </P>
                  <P class="choosing-ul-p">
                  We follow the up to date methodologies to control the information, which your target audience, see, Read & interpret about your positioning. 
                </P>
                <P class="choosing-ul-p">
                  There might be things that we cannot remove, but sure we de-index to suppress the name to disappear from page one to ensure that your brand / IP is well defended. 
                </P>
                <P class="choosing-ul-p">
                    We execute the project with utmost Secrecy by our trusted proficient team.
                  </P> 
                  <br><br>  
              </div>
          </div>
      </div>
      
      <div class="col" id="main"> 
            <div class="col-md-12">
              <div class="row seo-card-block"> 
                  
                  <div class="title-container mx-auto">
                      <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                          <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
                        </div>
                    <h3 class="casestudies-rear-txt">ORM EXPERT</h3>
                    <h3 class="casestudies-shadow-txt">APPROACH</h3>
                  </div>
                  <br> 

                  <div class="banner-space-init"></div> 
                  <div class="banner-space-init"></div> 
                  <div class="banner-space-init"></div> 
                  <br><br><br>

                  <div class="col-md-12 my-3"> 
                    <div class="card-deck">
                    <div class="card services-card-shadow my-3"> 
                    <div class="card-body">   
                    <p class="card-text seoservice-p">Our in-house built Removal Management tracker allows you to check in and monitor the content management as it arises on a day to day basis, so when the negative content comes down, you are notified.
                    </p>    
                    <p class="card-text seoservice-p">Help our clients with ongoing support and tailor-made reputation management packages to fit your situation.
                    </p>   
                    <p class="card-text seoservice-p">We ensure that we manage your 360-degree digital assets in all the positive social media channel sand other content distribution channels that keep you in the loop every time. 
                    </p> 
                    
                    </div>
                    </div>
                    </div> 
                  </div>  

                  </div>
              </div> 

      </div>
  </div>
</div>
 
<!-- PPC Services -->

<div class="container my-5"> 
    <div class="row">
      
                   
        <div class="col" id="main">
 
          
            <div class="services-card ">

               <!-- <div class="title-container mx-auto need-for-seo"> 
                  <h2 class="need-shadow-txt">PPC Services in Bangalore</h2>
                </div>

              
                <div class="banner-space-init"></div>  -->
 

                <div class="card-deck py-1">
                    <div class="card border-0 services-card-shadow mx-2  my-auto"> 
                      <div class="card-body ">   
                        <p class="card-text need-para">
                          We have helped Celebrities, fortune 500 brands / CEO's to protect their names from false court accusations and competitor driven negative Digital PE. 
                        </p> 
                        <p class="card-text need-para">
                          We always have a counter strategy that will limit the damage and control the opportunity loss for the brand. 
                        </p>
                        <p class="card-text need-para">
                          We have worked with Politicians both in India and US to create a massive positive reputation, which eventually helped them to contest elections with confidence and assume power.
                        </p>
                        <p class="card-text need-para">
                          We do sentiment analysis as part of the Reputation management services to measure the positive and negative reputation of a brand/individual.
                        </p>
                        <p class="card-text need-para">
                          That helps us to take strict and immediate actions to safeguard the online reputation to be in control against any vicious negative digital attack. 
                        </p>            
                        <p class="card-text need-para">
                          Get connected with us to strategize your online reputation management road-map and our online Reputation management experts in Bangalore will help you to defend and protect your Brand eternally.
                        </p>
                      </div>
                    </div>
            
                    <div class="card border-0 px-3 "> 
                        <div class="card-body "> 
                            <div class="mb-4 my-5">
                                <img  class="smmimg" src="assets/images/wp-content/uploads/2019/icons/seo/online-reputation-management.png" alt="online reputation management"/>
                            </div> 
                          </div>
                      </div>
                           
                </div>
            </div>
      
        </div>
      
    </div>
</div>

  <br><br>


<!-- ROI Strip-->

<div class="container-fluid bg-red p-0">
    <div class="row"> 
            <div class="row">

        <div class="col-sm-1 my-auto google-container-image p-0">
            <img  src="assets/images/wp-content/uploads/2019/icons/seo/gold-medal.png" alt="Reputation management services"/>
        </div>

        <div class="col-sm-11 pl-5">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text roi text-white ">ROI Lead Best SEO Company/Agency in Bangalore India</h2>
        <p class="text-white branding-cont">We are group of passionate digital marketing experts; industry thought leaders and creative designers coming together to produce stunning ROI lead digital marketing campaigns for brands. We are a social media marketing agency based in Bangalore, India providing digital marketing campaign management support to brands across the globe.</p><br><br>
        </div>
        
        </div>
        </div> 
    </div>
  </div>
   <br><br>
  
   
    
 

<div class="container"> 
    <div class="row">
      
        <div class="col" id="main">
 
            <div class="services-card ">
               

                <div class="title-container mx-auto my-5 ">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                        <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
                      </div>
                  <h3 class="casestudies-rear-txt">SERVICES</h3>
                  <h3 class="need-shadow-txt seo-services">SERVICES</h3>
                </div>
                  <br><br>


                  <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/ui-design-company-bangalore/">UI UX Designing</a></h6>
                        <p class="card-text need-para">
                            As an user-centric design agency in Bangalore, India, we create functionally beautiful digital experiences that highly engage with your target audience. We tend to create meaningful relationships amidst brands and their consumers through inspiring design…                        
                        </p> 
                        <a href="https://brandstory.in/ui-design-company-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/website-development-company-in-bangalore/">Website Development</a></h6>
                          <p class="card-text need-para"> 
                              Making sure that your website is universally compatible and user friendly, an exclusive expert team of designers and developers are you assigned to to ensure that not only the plan goes according to a timeline but also that your approval is taken… 
                          </p>             
                          <a href="https://brandstory.in/website-development-company-in-bangalore/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/content-marketing/">Content Marketing</a></h6>
                            <p class="card-text need-para"> 
                                Simple.We create digital content. It’s the element that helps us to be the company we are and our ever growing client list is an proof to that. Brandstory is one of the leading content marketing communications company in Bangalore, India provides…
                            </p>             
                            <a href="https://brandstory.in/content-marketing/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>


            <div class="services-card mt-3">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/seo-company-bangalore/">Search Engine Optimisation</a></h6>
                        <p class="card-text need-para">
                            Search Engine Optimization (SEO) program increases overall visibility of your business across all search engine platform. It provides an opportunities for brands to create acquisitions (sales, leads, inquiries etc.), and help consumers to …                        
                        </p> 
                        <a href="https://brandstory.in/seo-company-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/">Pay Per Click (PPC)</a></h6>
                          <p class="card-text need-para"> 
                              We increase your digital footprint with Pay Per Click campaigns or Google Adwords and Bing Adwords. A plan is sketched out and implemented accordingly, with this your campaign has begun. The plan includes specific important keywords … 
                          </p>             
                          <a href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/services/social-media-marketing-agency-bangalore/">Social Media Marketing</a></h6>
                            <p class="card-text need-para"> 
                                We provide expertise in design implementation providing a full range of social media marketing services(SMM) bounding in popular social media platforms, content generation, creatives ideation, social branding techniques. Holding it all together …
                            </p>             
                            <a href="https://brandstory.in/services/social-media-marketing-agency-bangalore/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>



            <div class="services-card mt-3">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/email-marketing-services-in-bangalore/">Email Marketing</a></h6>
                        <p class="card-text need-para">
                            Email Marketing It’s not as easy as it may sound. It’s not just composing an email draft, copying a list of contacts, and clicking the “send” button. Invariably, you will face struggles ranging from privacy issues, permission boundaries, technical glitches …         
                        </p> 
                        <a href="https://brandstory.in/email-marketing-services-in-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/orm-company-bangalore-india/">Online Reputation Management</a></h6>
                          <p class="card-text need-para"> 
                              Online reputation management includes managing your business and its brand value across every review and rating forum to every social media platform. It is ideally required for 3 major purposes adding to the growth of your business… 
                          </p>             
                          <a href="https://brandstory.in/orm-company-bangalore-india/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/analytics-and-reporting/">Analytics and Reporting</a></h6>
                            <p class="card-text need-para"> 
                                A gripping content, catchy headline, constant updates will mean nothing if you can’t see the returns on it. So after all the hard work is done, we send you a detailed report and statistics on how well you are doing on digital…
                            </p>             
                            <a href="https://brandstory.in/analytics-and-reporting/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>
    

        </div>
      
    </div>
</div>


<br><br> 
 
 


<!-- Google Partner -->
<div class="container-fluid bg-red p-0">
    <div class="row"> 
        <div class="row">
        
        <div class="col-sm-1 my-auto google-container-image p-0">
                <img  src="assets/images/wp-content/uploads/2019/icons/seo/trophy.png" alt="SEO Company Bangalore"/>
        </div>

            
        
        <div class="col-sm-7">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
        <p class="text-white branding-cont">We are official partners with Google, so you know that you’re in the hands of a trusted and promising company.</p><br><br>
        </div>
        
        </div>
        <div class="col-sm-4 my-auto google-container-image">
          <a href="https://www.google.com/partners/agency?id=1975289574" target="_blank"><img  src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" alt="Official Google Partner"/></a>
        </div>
        </div> 
    </div>
  </div>
   <br><br>
   <br><br>
   
<div class="container"> 
    <div class="row">
      
        <div class="col-sm-12 col-md-12" id="main">
   <div class="services-card testimo">

      <div class="title-container mx-auto ">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
            </div>
        <h3 class="casestudies-rear-txt">TESTIMONIALS</h3>
        <h3 class="need-shadow-txt seo-services">TESTIMONIALS</h3>
      </div>
        <br><br> 
        
       <div class="card-deck">
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
               <div class="text-center m-3">
                 <i class="fa fa-quote-left "></i>
               </div>
               <p class="card-text text-center"> 
                 The experience of working with BrandStory, was a wonderful one. They have a passionate, responsible and competent team, very thoughtful and hardworking, and always reliable in delivering the results. We treat each other as business partners, rather than just clients.
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2018/04/48.png" class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>              
               <p class="card-text text-center">
                 <small>
                   Jia Zhang<br>
                   Country Manager(China)<br>
                   Astreem Consulting Pte Ltd
                 </small>
               </p>
             </div>
           </div>
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
                 <div class="text-center m-3">
                     <i class="fa fa-quote-left "></i>
                   </div>              
               <p class="card-text text-center">
                   BrandStory has been a very trusted and reliable partner for Vymo. It is very tough to fully absorb a client’s design preferences, tune your style to it and consistently deliver expectations. BrandStory has managed to do it for Vymo for over an year now. Their work ethos and enthusiasm for Vymo’s success make us feel like they are part of our own team. Thank you BrandStory!
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2017/12/54.png" class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>
               <p class="card-text text-center">
                   <small>
                     Yamini Bhat<br>
                     CEO<br>
                     Vymo
                   </small>
               </p>
             </div>
           </div>
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
                 <div class="text-center m-3">
                     <i class="fa fa-quote-left "></i>
                   </div>              
               <p class="card-text text-center">
                   The team at BrandStory is extremely understanding of customer requirements, accepting of changes that are asked. It is difficult to find a mature organisation that has all of these together and I am happy to have found BrandStory. Their social media marketing plan was expansive and had great target ideas and well executed. Overall, I would highly recommend the team at BrandStory.
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2018/04/58.png " class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>              
               <p class="card-text text-center">
                   <small>
                     Ramya Rajendiran<br>
                     Curriculum Director<br>
                     Springdays (CBSE) International School
                   </small>
               </p>
             </div>
           </div> 
       </div>
       <br>
   </div>
  </div>
</div> 

   
   <div class="col-sm-8">
    <ng-template #template >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()"   novalidate>
            <div class="form-group">                 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                    <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
              <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }"  placeholder="Enter Email">
              <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>                  
                  <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Mobile Number"/>
                <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
                  <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
                </div>
            </div> 
    
            <div class="form-group"> 
               
                <input type="url" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link"/>
                <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
                    <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
                </div>
              </div>
    
            <div class="form-group"> 
                
                <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div> 
          </div>
              </div>
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>