<div class="background-pattern"></div>
<div class="container">
  <div class="banner-space-init"></div>
  <div class="row banner-left-outerwrap">
    <div class="col-sm-7 banner-left-innerwrap">

      <h1 class="seo-banner-head">
        Campaign Management - Revamp your Social Media Cosmos
      </h1>
      <br>
      <p>Over 40% of mobile users search for a local business on the internet. </p>
      <p>Around half of the world’s population is active on some form of social media. </p>
      <p>Over 60% of shoppers online say that some video or social media post have influenced their decision.</p>
      <p>But, over 30% of marketers struggle to integrate digital campaigns into their digital marketing strategy.</p>

      <a (click)="openModal(template)" class="banner-request-btn ">REQUEST A FREE SEO AUDIT</a>
    </div>



    <div class="col-sm-5 banner-right-outerwrap">
      <div class="banner-form-innerwrap">
        <h4 class="banner-form-headtxt">REQUEST A FREE SEO AUDIT</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmits()">
          <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed
              </div>
              <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" formControlName="email" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>
              <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <input type="tel" formControlName="lastName" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
              <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="organisation" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name" />
            <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
              <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="url" formControlName="website" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link" />
            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
              <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
              <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
            </div>
          </div>
          <div class="form-group">
            <textarea formControlName="password" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message" rows="2"
              style="height:auto !important;"></textarea>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required" class="px-3">Message is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

    <div class="col" id="main">

      <div class="services-card ">

        <div class="title-container mx-auto my-5 ">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
            <span class="uvc-headings-line"
              style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
          </div>
          <h3 class="casestudies-rear-txt">Digital</h3>
          <h1 class="need-shadow-txt">Our Digital Campaign Management Services</h1>

        </div>
        <br><br>


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2018/04//seo-img1.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Plan and Strategize Multichannel Social Media Campaigns</h6>
              <p class="card-text need-para">We provide intuitive solutions that help our clients to plan your campaigns
                well before. You can set the priorities for the campaign and make impactful decisions on the order of
                campaigns. Our campaign management services gives businesses useful insights into the campaign history,
                offer campaign templates, manage the whole campaign process and track its progress.</p>
              <p class="card-text need-para">Across the many social media platforms, we help to devise strategy to
                create brand awareness to generate maximum traffic.</p>



            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben8.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Manage interactions across cross channel campaign management
              </h6>
              <p class="card-text need-para"> Recurring interactions are the key feature of our campaign management
                process. Our intuitive methods can enable your campaigns to run in multi-channel avenues. Our team helps
                to automate your entire campaign management process and identify behavioural patterns of the consumers.
                The right channels and timing for communication for achieving personalized and engaging customer
                experiences can be determined.</p>
              <p class="card-text need-para">We encourage connection with your audience at the deepest level to foster
                familiarity with your brand. </p>

            </div>
          </div>



        </div>
      </div>
      <div class="services-card ">


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben3.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Manage the campaign process</h6>
              <p class="card-text need-para">Our campaign management solutions can equip your business with customised
                campaign workflow techniques. We design templates that can enable you to effectively build the flow of
                your campaign tasks. The set of defined tasks can be assigned to your marketing campaigns automatically.
                Your team can ensure effective collaboration and manage the involvement of outside sources such as
                vendors and agencies in your campaign.</p>
              <p class="card-text need-para">In social media campaigns, this involves researching your competitors and
                potential customers and creating unique and engaging content to woo them</p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben4.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Target campaigns towards the right customers</h6>
              <p class="card-text need-para">Our accurate customer segmentation solution can target customers based on
                their specific demographics preferences, shopping and transaction history. This is possible only through
                our multi-channel, precise campaign process.</p>
              <p class="card-text need-para">Our social media campaign management team develops strategies for choosing
                the right campaign to be run on the right platform to achieve the best results.</p>

            </div>
          </div>


        </div>
      </div>


      <div class="services-card ">


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben1.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Run campaign management solution smoothly</h6>
              <p class="card-text need-para">Our team in our campaign management agency works with you to target
                segmented campaigns for specific target groups. New and existing customers can be targeted to offer
                customized marketing experience. To ensure smooth campaign management, there must be open communication
                with your customer either through notifications, newsletters, social media posts on Facebook and live
                feeds on Twitter or Instagram.</p>
              <p class="card-text need-para">To create engaging content, we include a combination of various channels as
                a part of the campaign management.</p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben5.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Manage and maintain budgets in campaign management</h6>
              <p class="card-text need-para">Our team of marketing experts will help our clients always stay within the
                estimated campaign budget. We help in allocating costs to every element of the social media campaign.
                You can constantly compare the actual to estimated costs to identify cost centres and take critical
                budget decisions.</p>

            </div>
          </div>


        </div>
      </div>


      <div class="services-card ">

        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben5.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Track progress of campaigns</h6>
              <p class="card-text need-para">We campaign management services include measures to track the campaign
                progress at each stage and monitor to see if it is aligned with the set goals. There are metrics to
                measure each campaign feature such as communication, number of clicks, page visits, subscribers and so
                on. </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben6.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Analyze and Report Campaign Results</h6>
              <p class="card-text need-para">We at brandstory.in provide reporting templates for generating critical
                campaign information. These reports are ideal for quickly analysing messages, data and critical
                feedback. We provide real time data visualization and analysis of campaign success through dashboards.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container-fluid" #target>
  <div class="row">
    <div class="col-sm-6 px-5 bg-red">
      <div class="py-2 sticky-top flex-grow-1">
        <div class="nav flex-sm-column">
          <div class="title-container mx-auto my-3 py-3">

            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: #ffffff; width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="whybrandstory-shadow-txt">Campaign Management</h3>
            <h3 class="whybrandstory-rear-txt">Multichannel Digital Campaign Management</h3>
          </div>
          <p class="text-white">You may have the marketing campaigns in place but not the resources to monitor and
            manage it. There are countless number of marketing campaigns run by hundreds of companies daily. With
            exposure to these innumerable campaigns, how do you make your campaign eye catching?</p>
          <p class="text-white">We at brandstory.in can help you extract the best out of your multichannel digital
            campaign management.</p>

        </div>
      </div>
    </div>

    <div class="col" id="main">
      <div class="col-md-12">
        <div class="row seo-card-block">

          <div class="title-container mx-auto">
            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="casestudies-rear-txt">Business</h3>
            <h3 class="casestudies-shadow-txt">How our Services can help your Business</h3>
          </div>


          <div class="banner-space-init"></div>
          <ul class="py-2">
            <li class="why-brandstory-list1">Our social media management services give you access to our end-to end
              solutions that can improve your digital presence.</li>
            <li class="why-brandstory-list1">What sets us apart from other campaign management companies is the
              personalized marketing model that can facilitate direct interaction with the clients, and exchange
              information with them in real time.</li>
            <li class="why-brandstory-list1">People spend more than 40 minutes on social-media platforms every day. Our
              multichannel campaign management solutions convert this traffic into customer engagement on Facebook,
              Instagram, Linkedin,and Twitter.</li>
            <li class="why-brandstory-list1">Our multichannel campaign management services provide end to end campaign
              solutions as well as for specific modules. Our campaign management services include optimization of
              multichannel campaign management results and personalized social media marketing.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col" id="main">

      <div class="services-card ">


        <div class="title-container mx-auto my-5 ">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
            <span class="uvc-headings-line"
              style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
          </div>
          <h3 class="casestudies-rear-txt">Google Ads Campaign Management</h3>
          <h3 class="need-shadow-txt">Customized Google Ads Campaign Management Structure</h3>
          <p class="text-center">We ensure that only Google is not a part of your PPC campaigns. We slow down the pace
            for our PPC management services for new businesses and discover ways and means to optimize every element of
            your campaign. These are the few elements we optimize:</p>
        </div>
        <br>


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben1.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Keywords Strategy</h6>
              <p class="card-text need-para">
                If you are a new business, you have the liberty to experiment with your bucket of keywords to see what
                works and what doesn’t. But if you are already running campaigns for a while, you must stick to using
                only those ad groups that target only specific keywords.
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben2.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Specific Campaigns</h6>
              <p class="card-text need-para">
                Your campaigns must be tailor made and directed towards the specific service or product your business is
                trying to sell. For instance, you can run a campaign for product categories, one for specific brands and
                one for competitor items.
              </p>

            </div>
          </div>

          <div class="card border-0 scrolldivd">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben3.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Adword Campaign management</h6>
              <p class="card-text need-para">
                Our Adwords campaign management services comprise of creating ad groups for each level. This way, ads of
                similar nature can be grouped together and be served with their relevant keywords.</p>
              <p class="card-text need-para"> Our Google adwords campaign management team works with you to come up with
                the most optimized ads. We ensure that ads that feature in the landing pages have all ingredients to
                catch the attention of the customer. We include USP of the product, benefits and the element of
                persuasion to make them take action right away. </p>

            </div>
          </div>

        </div>
      </div>


      <div class="services-card ">
        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben4.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Specific Landing Pages</h6>
              <p class="card-text need-para">
                We ensure that all PPC campaigns of our clients point to landing pages. Landing page bridges the gap
                between customer query and conversion. These pages help to understand the potential customer’s need and
                intent.
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body ">
              <div class="mb-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/ben5.png" />
              </div>
              <h6 class="font-weight-bold py-2 need-head">Analytics</h6>
              <p class="card-text need-para">
                We examine and analyse each and every step of our PPC management service solution. WE use metrics to
                measure what ads, keywords and landing pages are generating more traffic. The business can rightly
                allocate their budget to these areas and bump up their ROI.
              </p>

            </div>
          </div>

          <div class="card border-0 enq-bg-red">
            <div class="card-body ">
              <div class="mb-4 text-center pt-4">
                <img src="assets/images/wp-content/uploads/2019/icons/seo/enqbtn.png" />
              </div>
              <h6 class="font-weight-bold py-2 text-center enq-get-started">Get started with us</h6>
              <p class="card-text text-center">
                <button (click)="openModal3(template3)" class="btn btn-primary border-0 enq-bnt-white">ENQUIRE</button>
              </p>

            </div>
          </div>
        </div>
      </div>




    </div>

  </div>
</div>


<!-- Choose right agency -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-5 bg-red">
      <div class="py-2 sticky-top flex-grow-1">
        <div class="nav flex-sm-column">
          <div class="title-container mx-auto my-3 py-2">

            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: #ffffff; width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="whybrandstory-shadow-txt">Capabilities</h3>
            <h3 class="choosing-rear-txt">Our Capabilities</h3>

          </div>
          <ul class="py-2">
            <li class="why-brandstory-list">Simplified planning of campaign management</li>
            <li class="why-brandstory-list">Customer Segmentation for better customer understanding</li>
            <li class="why-brandstory-list">Real time data generation for better personalized solutions</li>
            <li class="why-brandstory-list">Campaign modification and improvement techniques</li>
            <li class="why-brandstory-list">Multichannel campaign management techniques</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col" id="main">
      <div class="col-md-12">
        <div class="row seo-card-block">

          <div class="title-container mx-auto">
            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="casestudies-rear-txt">Social Media Campaign</h3>
            <h3 class="casestudies-shadow-txt">Why brandstory.in for your Social Media Campaign needs?</h3>

          </div>
          <br>

          <div class="banner-space-init"></div>
          <ul class="py-2">
            <li class="why-brandstory-list1">We have vast experience in implementing successful campaign management
              projects</li>
            <li class="why-brandstory-list1">We have a team of experts who are specialists in social media campaign
              management</li>
            <li class="why-brandstory-list1">We strive to understand your business and its objectives thoroughly. We
              follow your customers and uncover your challenges to ensure the campaign management is a success.</li>
            <li class="why-brandstory-list1">We perform continuous reviews of results and opportunities of all your
              campaign management programs. This experience helps in understanding what efforts of the campaign paid off
              and what did not work.</li>
            <li class="why-brandstory-list1">Our campaign management solutions are tailor made to satisfy each client’s
              specific requirement for their social media campaigns.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class=" col-12 mx-auto">
      <div class="title-container mx-auto my-5 ">
        <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
          <span class="uvc-headings-line"
            style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
        </div>
        <h3 class="casestudies-rear-txt">CLIENTS</h3>
        <h3 class="need-shadow-txt">Our Clients</h3>

      </div>
      <div class="client-img-list text-center">

        <img src="assets/images/wp-content/uploads/2018/09/adarsh-devlogo.png" class="vc_gitem-zone-img cliimg1"
          alt="Digital Marketing Company">

        <img src="assets/images/wp-content/uploads/2018/09/jd-logo.png" class="vc_gitem-zone-img"
          style="width: auto !important;" alt="Flipkart portfolio">


        <img src="assets/images/wp-content/uploads/2018/09/skylark-logo.png" class="vc_gitem-zone-img"
          style="width: auto !important;" alt="decathlon portfolio">

        <img src="assets/images/wp-content/uploads/2018/03/62.png" class="vc_gitem-zone-img"
          style="width: auto !important;" alt="top digital marketing companies in india">

        <img src="assets/images/wp-content/uploads/2018/03/65.png" class="vc_gitem-zone-img"
          style="width: auto !important;" alt="real estate digital marketing">

        <img src="assets/images/wp-content/uploads/2017/12/54.png" class="vc_gitem-zone-img"
          style="width: auto !important;" alt="best seo services in bangalore">

      </div>
      <br>
    </div>
  </div>
</div>




<div class="title-container mx-auto my-5 ">
  <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
    <span class="uvc-headings-line"
      style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
  </div>
  <h3 class="casestudies-rear-txt">QUESTIONS</h3>
  <h3 class="testimonial-shadow-txt">FAQs</h3>
</div>

<br>
<div class="container">
  <accordion>
    <accordion-group heading="What is Digital Campaign Management?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaign management is the online marketing strategy adopted by a company to
        bring traffic, conversions, customer engagement and revenue to the business. The campaign aligns itself with the
        company goals and various digital mediums in its approach.</p>
    </accordion-group>

    <accordion-group heading="Why is Digital Campaign management critical for marketing campaigns?"
      [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaign management helps in digital marketing for the following reasons:</p>
      <ol>
        <li>It helps in better allocation of marketing budget.</li>
        <li>It reaches the right customers at the right time.</li>
        <li>Small businesses can bring in more focus on choosing the marketing channels and taking smart decisions.
        </li>
        <li>Better segmentation and personalisation of marketing efforts can be achieved.</li>
      </ol>
    </accordion-group>

    <accordion-group heading="What marketing elements constitute Digital Campaign Management?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaign management covers all realms of digital marketing such as ad
        campaigns, PPC campaigns, social media campaigns, content marketing and email marketing.</p>
    </accordion-group>

    <accordion-group heading="How does Digital Campaign Management help social media campaigns?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Effective campaign management methods help in streamlining the social media
        interactions and connections. You can devise effective strategies to target the right social media platforms,
        track customer behavioural patterns and improve brand awareness.</p>
    </accordion-group>

    <accordion-group heading="How can your business benefit from Digital Campaign Management?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaign management can benefit business in the following ways:</p>
      <ol>
        <li>Improves revenues through strategical marketing.</li>
        <li>Brings about Lead generation and customer engagement.</li>
        <li>Improves rates of conversion.</li>
        <li>Deploys cost-effective marketing techniques.</li>
        <li>Generates better ROI from the marketing campaigns.</li>
        <li>Helps better understand competitors and their approaches.</li>
        <li>Builds a reputation for the brand.</li>
      </ol>
    </accordion-group>

    <accordion-group heading="What goes into a Digital Campaign Management Strategy?" [isOpen]="isFirstOpen">
      <ol>
        <li>Set campaign goals and track its progress from time to time.</li>
        <li>Obtain useful insights on target audience and influencers.</li>
        <li>Understand market position of company and what features will lead to conversion.</li>
        <li>Decide on social media platforms you will use to take your product to the audience.</li>
        <li>Chart out a budget for the campaign plan.</li>
      </ol>

    </accordion-group>

    <accordion-group heading="What kind of data is included in Digital Campaign Management?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Data has a pivotal role in digital campaign to determine what your customers are
        looking for. You can target those keywords that bring traffic to your web page. You can use Google AdWords to
        see your own potential keywords as well as those that your competitors are targeting. Past data can be analysed
        to see what worked and what did not.</p>
    </accordion-group>

    <accordion-group heading="Why is my current Campaign Management Strategy not working?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">One of the reasons of the failure of your digital campaigns could be use of wrong
        metrics to measure progress. Not using appropriate methods of testing and evaluating the campaign. You are
        targeting the wrong audience. You are setting unrealistic goals for your campaign. You are not giving the
        campaign enough time to show results.</p>
    </accordion-group>

    <accordion-group heading="How do I reach out to new customers via digital Campaign Management?"
      [isOpen]="isFirstOpen">
      <p class="faq-content p-0">First you must identify your potential customer. Find out his demographic, interest,
        hobbies etc. Position your product or service to the client directly through any platform. Encourage appropriate
        methods of call to action. Build partnerships with your clients and follow up.</p>
    </accordion-group>

    <accordion-group heading="What social media platforms will the campaign target?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaigns target all forms of social media including videos and blogs. The
        popular ones are Facebook, LinkedIn, Twitter, Instagram, Snapchat, Pinterest and YouTube.</p>
    </accordion-group>

    <accordion-group heading="Can digital campaign management generate more traffic to my website?"
      [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Digital campaign management can improve the digital presence of the business and put
        them on the digital map. It helps in multi-channel campaign management and personalised social media marketing.
        This can convert the customer traffic on social media platforms thereby boosting sales and revenue for the
        business.</p>
    </accordion-group>

    <accordion-group heading="How important is content management in Digital Campaign?" [isOpen]="isFirstOpen">
      <p class="faq-content p-0">Effective Content management is important for digital campaigns because: It helps in
        creating standard web pages. Helps to streamline design and workflow of the website. Optimizes the webpages to
        respond to search results. Helps to build and manage a wide client base for both B2B and B2C businesses.</p>
    </accordion-group>

    <accordion-group heading="How can I make sure my Social media campaign is a success?" [isOpen]="isFirstOpen">
      <ol>
        <li>Come up with a social media strategy for your campaign.</li>
        <li>Leverage all social media platforms and put out unique content on each of them. Use only the right amount of
          promotional content.</li>
        <li>Research your competitors and see what is trending before designing your own campaign.</li>
        <li>Listen to your audience through feedback and reviews. Engage your customers into your brand.</li>
      </ol>
    </accordion-group>

  </accordion>
</div>

<br><br>

<div class="container-fluid bg-red">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">

          <div class="google-container">
            <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
            <p class="text-white branding-cont">We are official partners with Google, so you know that you are in the
              hands of a trusted and promising company.</p><br><br>
          </div>

        </div>
        <div class="col-sm-4 my-auto google-container-image">
          <img src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">


  <div class="col-sm-8">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()" novalidate>
          <div class="form-group">
            <input type="text" formControlName="fName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name" />
            <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters
                allowed</div>
              <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="fEmail" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }" placeholder="Enter email">
            <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>
              <div *ngIf="fbannermodal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
              <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">

            <input type="tel" formControlName="fPhone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Phone Number" />
            <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
          </div>


          <div class="form-group">

            <input type="url" formControlName="fService" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link" />
            <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
              <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
            </div>
          </div>

          <div class="form-group">

            <textarea formControlName="fMessage" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message" rows="2"
              style="height:auto !important;"></textarea>
            <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

        </form>
        <br><br>
      </div>
    </ng-template>
  </div>



  <div class="col-sm-8">
    <ng-template #template2>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request Case Study </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="caseStudyForm" (ngSubmit)="onSubmitCaseStudy()" novalidate>
          <div class="form-group">
            <input type="text" formControlName="fName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fName.errors }" placeholder="Enter Name" />
            <div *ngIf="submitted && fcaseStudyForm.fName.errors" class="invalid-feedback">
              <div *ngIf="fcaseStudyForm.fName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="fcaseStudyForm.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters
                allowed</div>
              <div *ngIf="fcaseStudyForm.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="fEmail" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fEmail.errors }" placeholder="Enter email">
            <div *ngIf="submitted && fcaseStudyForm.fEmail.errors" class="invalid-feedback">
              <div *ngIf="fcaseStudyForm.fEmail.errors.required" class="px-3">Email is required</div>
              <div *ngIf="fcaseStudyForm.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
              <div *ngIf="fcaseStudyForm.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">

            <input type="tel" formControlName="fPhone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fPhone.errors }" placeholder="Mobile Number" />
            <div *ngIf="submitted && fcaseStudyForm.fPhone.errors" class="invalid-feedback">
              <div *ngIf="fcaseStudyForm.fPhone.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="fcaseStudyForm.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="fcaseStudyForm.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required
              </div>
              <div *ngIf="fcaseStudyForm.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required
              </div>
            </div>
          </div>

          <div class="form-group">

            <input type="text" formControlName="fService" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fcaseStudyForm.fService.errors }" placeholder="Company Name" />
            <div *ngIf="submitted && fcaseStudyForm.fService.errors" class="invalid-feedback">
              <div *ngIf="fcaseStudyForm.fService.errors.required" class="px-3">Company is required</div>
            </div>
          </div>

          <!--<div class="form-group">
                <textarea class="form-control" placeholder="Message" name="fMessage" ngModel  rows="3"></textarea>
              </div> -->
          <br>
          <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

        </form>
        <br><br>
      </div>
    </ng-template>
  </div>


  <div class="col-sm-8">
    <ng-template #template3>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Get Quote </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()" novalidate>
          <div class="form-group">
            <input type="text" formControlName="fName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name" />
            <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
              <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters
                allowed</div>
              <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="fEmail" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }" placeholder="Enter Email">
            <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
              <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>
              <div *ngIf="fenquiryModal.fEmail.errors.pattern" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <input type="tel" formControlName="fPhone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number" />
            <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
              <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required
              </div>
              <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <select formControlName="fService" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
              <option disabled selected>Select a service</option>
              <option>Design</option>
              <option>UI/UX</option>
              <option>Development</option>
              <option>Digital</option>
            </select>
            <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
              <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select service is required</div>
            </div>
          </div>

          <div class="form-group">
            <textarea formControlName="fMessage" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message" rows="2"
              style="height:auto !important;"></textarea>
            <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

        </form>
        <br><br>
      </div>
    </ng-template>
  </div>


</div>
