.steps{
    color: #dd3333 !important;  
    font-weight: bold;  
} 

.stepshead{
    font-size: 34px !important;
    line-height: 44px !important;
}
.principles{
    padding-left: 200px;
    padding-right: 200px;
}

.branding-get-quote-text{    
    color: #ffffff;
    text-align: justify;
    font-size: 34px !important;
    line-height: 44px !important;
}

.design-brand-title{
    font-weight: normal;
    margin-bottom: 25px; 
}

.design-brand-sub{ 
    line-height: 26px !important;
    color: #676766;
    font-size: 18px !important;
}

.smallheading2{
    font-size: 40px !important;
    line-height: 50px !important;
    color: #1e1e1e !important;
    font-weight: 300 !important;
    margin: 0% 0% 0% 4% !important;
}

.banner-layer1-txt{
    margin:0% 0% 0% 14% !important;
  }

.banner-layer2-txt{
      margin:0% 0% 0% 20% !important;
}

.banner-backdrop{
    width: 155px;
    position: absolute;
    z-index: -888;
    margin: 0;
    top: 25%;
    left: 45%;
    padding: 0 !important;
}

.smallheadng,.bigheading,.banner-knwomore{
    animation-name: topFadeOut;
    animation-duration: 5s;
}
 
@keyframes topFadeOut {
    0% { 
        bottom: 10rem;
        opacity: 0;
      }
    
      75% { 
        bottom: 10%;
        opacity: 1;
      }           
      
  }
  .card-box-shadow{
    box-shadow: -4px 5px 25px -5px rgba(113, 109, 109, 0.8);
    transform: translate3d(0,-2px,0);
    border: none;
  }

  .works-img{
    min-height: 206px !important;
  }

  .imageup {
    -webkit-animation: floatBubble 2s   normal ;
    animation: floatBubble 2s   normal ;
}

@-webkit-keyframes floatBubble {
    0% {
        top: 50%; 
    }
    100% {
        top: 25%;
    }
}
@keyframes floatBubble {
    0% {
        top: 50%; 
    }
    100% {
        top: 25%;
    }
}

.mobile-slide-holder,.mobile-slider{
    display: none ;
}
.sticky-top{top:100px;}

.playbtn{
    margin-left: .8rem!important;
}
.sticky-top img {width:100% !important}