<!-- Top Images -->
<div class="container-fluid sec_top">
  <div class="row ban_bg d-flex justify-content-around">
    <div class="col-sm-12 col-md-8 add1_view d-flex align-items-center">
      <div class="col-md-10 mx-auto">
        <h1 class="text-white head_font">
          Make the Ordinary Extraordinary through Advertising Photography
        </h1>

        <!-- <br> -->

        <h5 class="text-white head_para">
          Articles with images average over 90% more views than those with only
          text. At BrandStory, one of the best photography companies in Bangalore, images go
          hand in hand with marketing, particularly digital marketing. A clear and precise image will
          give the viewer a virtual delivery of your product. With just a few seconds to engage a user
          after landing on your page, you don’t want to bombard him with only text. Once you
          capture the consumer’s eye through the visual context, more than half the battle is won.
        </h5>

      </div>
    </div>
    <div class="col-sm-4" style="padding: 0px;">
      <img src="../../../assets/assets_bslead/images/photograpy/01.jpg" class=" img-fluid mob_image_top"
        alt="Photography" title="Photography">

    </div>

  </div>
</div>
<!-- Top Images -->



<!-- Nav Heading -->
<div class="container-fluid py-4 sec_nav_head">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Platforms</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Start a Pilot Program</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Success Stories</a>
      </div>
      <div class="col-sm-3">
        <a href="#" alt="approach" class="a_black">Resources</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Heading -->

<!-- heading_Sec -->
<div class="container-fluid text-center py-5 add_pad20">

  <div class="col-md-8 mx-auto text-center ">
    <p class="text_new1">Communicate your value to your potential clients through riveting photographs</p>
  </div>

  <br>
  <div class="col-md-10 mx-auto text-center ">

    <p class="text_para_new">Modern marketing is a competitive space. Brandstory’s photography services in Bangalore
      will translate
      the nature of your business and make your clients choose you over your competitor.
      Consumers globally are very impressionable and crave quick information through images.
      We help in nailing photography to uplift your brand profile and visually tempt the user to
      take the next step.
    </p>
  </div>

</div>
<!-- heading_Sec -->


<!-- body content -->
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="row pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40">

          <p class="head_p">Market Original Images</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">With BrandStory, a leading photography agency in
            Bangalore, capture original images as they impact better than a stock image, which will enable
            content marketers to build concept, design and produce rich visuals to lend credibility
          </p>
        </div>
        <div class="col-md-6 desktop_pdl40">
          <img src="../../../assets/assets_bslead/images/photograpy/02.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40 web_image">
          <img src="../../../assets/assets_bslead/images/photograpy/03.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>
        <div class="col-md-6 desktop_pdl40">
          <p class="head_p">Social Media Posts</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Get quick and effective responses on social media with
            consistent images produced by BrandStory’s photography services in Bangalore. A social media visual is very
            powerful in developing a brand identity. Relevant and
            enthralling photos on social media platforms can communicate a message
            powerfully and increase engagement.
          </p>
        </div>

        <div class="col-md-6 desktop_pdr40 mobileview_image">
          <img src="../../../assets/assets_bslead/images/photograpy/03.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40">
          <p class="head_p">Blogs</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Enhance your blogs impact through compelling images along
            with catchy headlines and high-quality content. Images play a vital role in
            luring blog readers. We BrandStory, a profound photography company in Bangalore, create visually appealing
            blog posts to drive more traffic and reduce
            bounce rate.</p>
        </div>

        <div class="col-md-6 desktop_pdl40">
          <img src="../../../assets/assets_bslead/images/photograpy/04.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>
      </div>

      <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="col-md-6 desktop_pdr40 web_image">
          <img src="../../../assets/assets_bslead/images/photograpy/05.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>

        <div class="col-md-6 desktop_pdl40">
          <p class="head_p">Website Content</p>
          <!-- <br> -->
          <p class="text_para_new" style="margin-top: 5%;">Keep your website relevant and updated with enthralling
            imagery. Use photos and images in your company websites to tell your story convincingly to
            your website visitors. BrandStory’s photographers in Bangalore are the best in creating illustrations and
            photographs which are rich tools to enhance user
            experience and present mundane information in an interesting way.
          </p>
        </div>
        <div class="col-md-6 desktop_pdr40 mobileview_image">
          <img src="../../../assets/assets_bslead/images/photograpy/05.jpg" class="body_image_mob img-fluid"
            alt="Photography" title="Photography">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- body content -->


<!--CASE STUDIES - Campaign Based Marketing -->
<div class="container py-5">
  <div class="col-md-12 mx-auto text-center">
    <hr>

    <img src="../../../assets/assets_bslead/images/photograpy/market_process_wtrmrk.png" alt="Photography"
      title="Photography" class="recent_img img-fluid">
    <p class="case_image">Photography Based Marketing</p>
  </div>

  <p class="col-md-12 mx-auto text-center step_text">A step by step process</p>

  <p class="col-md-12 mx-auto text-center mt-5">
    <img src="../../../assets/assets_bslead/images/photograpy/photography_process.png" alt="Photography"
      title="Photography" class="process_img">
  </p>

</div>
<!-- Campaign Based Marketing -->


<!-- PILOT PROGRAM -->

<div class="container-fluid pilot_pody1 py-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <p class="pilot_prog">PILOT PROGRAM</p>
      <p class="pilot_h2">Get custom recommendations for Photography</p>
      <p class="pilot_cnt">Meet your real audience and generate revenue</p>
    </div>
  </div>
</div>

<!-- PILOT PROGRAM -->

<!-- PILOT PROGRAM2 -->
<div class="container-fluid pilot_pody2 py-5" *ngIf="false">
  <div class="text-white">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <p class="pilot_p2">Tried and tired of every kind of marketing this season? Connect with BrandStory to
          leverage Demand Generation for your teams.</p>

        <br>

        <div class="row">
          <div class="col-sm-9 mx-auto list_text">

            <ul class="ul_mob_left float-left">
              <li style="list-style-image: url('../../../assets/assets_bslead/images/photograpy/tick_list.png')">You
                Get</li>
              <li style="list-style-image: url('../../../assets/assets_bslead/images/photograpy/tick_list.png')">You
                Get</li>
            </ul>

            <ul class="ul_mob_right float-right">
              <li style="list-style-image: url('../../../assets/assets_bslead/images/photograpy/tick_list.png')">You
                Get</li>
              <li style="list-style-image: url('../../../assets/assets_bslead/images/photograpy/tick_list.png')">You
                Get</li>
            </ul>

          </div>

        </div>

        <div class="text-center mt-2">
          <button type="button" class="btn btn-gray">Opt-in for a pilot program</button>
        </div>

      </div>
    </div>




  </div>
</div>
<!-- PILOT PROGRAM2 -->

<!-- FAQ -->
<div class="container py-5">

  <div class="col-md-7 mx-auto text-center">
    <hr>
    <img src="../../../assets/assets_bslead/images/photograpy/bg_qs.png" alt="Photography" title="Photography"
      class="faq_img img-fluid">
    <p class="case_image1">FAQ’S on Photography</p>
  </div>

  <div class="col-md-10 mx-auto pt-5">
    <div class="row" *ngFor="let item of faq_array; let i=index;">
      <p class="float-left w_95">
        {{item.title}}
      </p>

      <span class="float-right" (click)="faq_click(i);">
        <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !item.checked,' fa-minus': item.checked}"></i>
      </span>

      <div class="col-12 mb-3" *ngIf="item.checked">

        <p *ngIf="item.sub_text" class="sub_text">
          {{item.sub_text}}
        </p>

        <ul class="desc_width90" *ngIf="item.message_list.length>0">
          <li class="list_h30" *ngFor="let list of item.message_list;">
            <div class="fa_hand_p10">
              <i class="fa fa-share" aria-hidden="true"></i>
            </div>
            <div class="text_w90">
              <span class=""> {{list}} </span>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
<!-- FAQ -->

<!-- better decisions -->
<div class="container-fluid py-5 better_dc">
  <div class="row">
    <div class="col-md-10 mx-auto text-center">

      <p class="btr_p">Better discussions, better decisions</p>

      <p class="btr_p2">We are for everyone - Startups, SMBs, Enterprises. Connect with us for a conversation.</p>
      <br>
      <a (click)="openModal(template)" role="button" class="speek_us">Speak to us
        <span><img src="../../../assets/assets_bslead/images/photograpy/right_arrow_long.jpg" alt="Photography"
            title="Photography"></span>
        <!-- <span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> -->
      </a>

    </div>
  </div>
</div>
<!-- better decisions -->


<div class="container" *ngIf="false">
  <div class="enquire">
    <div class="jumbotron text-center bg-red p-4">
      <h1 class="display-4 text-white">Get started with us</h1>
      <a class="btn btn-lg mt-3 enquiry-btn" (click)="openModal(template)" role="button"> Enquire</a><br><br>
      <a class="btn btn-link text-white" routerLink="/contact-us" role="button">Or Contact Us</a>
    </div>
  </div>
</div>

<div class="col-sm-8">
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Get Quotes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()" novalidate>

        <div class="form-group">
          <input type="text" formControlName="fName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name" />
          <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
            <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed
            </div>
            <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="fEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }" placeholder="Enter Email">
          <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>
            <div *ngIf="fenquiryModal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>

          </div>
        </div>

        <div class="form-group">
          <input type="tel" formControlName="fPhone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number" />
          <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required
            </div>
            <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="organisation" class="form-control banner-form-field"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.organisation.errors }"
            placeholder="Organization Name" />
          <div *ngIf="submitted && fenquiryModal.organisation.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.organisation.errors.required" class="px-3">Organization Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <select formControlName="fService" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
            <option disabled selected>Select a service</option>
            <option>Design</option>
            <option>UI/UX</option>
            <option>Development</option>
            <option>Digital</option>
          </select>
          <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select service is required</div>
          </div>
        </div>

        <div class="form-group">
          <textarea formControlName="fMessage" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fMessage.errors }" placeholder="Message" rows="2"
            style="height:auto !important;"></textarea>
          <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

      </form>

      <br><br>
    </div>
  </ng-template>
</div>
