h3{
    font-size: 32px ;
    font-family: 'Poppins', sans-serif ;
    line-height: 44px ;
    font-weight: 600 ;
    letter-spacing: 1px ;
    text-align: left;
    color: #1e1e1e ;
} 
h1{
    font-size: 32px ;
    font-family: 'Poppins', sans-serif ;
    line-height: 44px ;
    font-weight: 600 ;
    letter-spacing: 1px ;
    text-align: left;
    color: #1e1e1e ;
} 
h2{
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif !important;
    line-height: normal ;
    font-weight: 600 ;
    letter-spacing: 1px ;
    text-align: left;
    color: #1e1e1e ;
} 
.blogn h2{
    font-size: 18px ;
    font-family: 'Poppins', sans-serif ;
    line-height: normal ;
    font-weight: 600 ;
    letter-spacing: 1px ;
    text-align: left;
    color: #1e1e1e ;
} 
.blog-p{
    margin: 10px 0px !important;
    line-height: 35px !important;
}

.blog-brief-img{
    width:inherit;
}
.sticky-top{top:100px;}
.home-getquote{border: 1px solid #cccccc !important;}
img.blog-brief-img{display: block !important;}