<div class="background-pattern mobile"></div>
<div class="container">
    <div class="banner-space-init"></div> 
    <div class="row banner-left-outerwrap">
  <div class="col-sm-7 banner-left-innerwrap"> 
    <h1 class="seo-banner-head">
        Web UI Design Bangalore
    </h1>
    <br>
    <h5 class="seo-banner-subtxt">
        Web Development is an integrated process which encompasses a dedicated methodology to develop a website over the internet which amalgamates fulfilment of Business objectives with customers’ needs.</h5>

        <h5 class="seo-banner-subtxt">  In a place where everybody claims to be the best, how to find the real best Web UI Design Bangalore? Well, the truth is no one company is the best fit for all web development related functions. It varies from company to company depending on their specific requirements.</h5>
        <h5 class="seo-banner-subtxt"> One who doesn’t have an extensive methodology can never understand their clients and thereby never deliver assured performance. So, choosing the best Web UI Design Bangalore depends on how the company plans to give solutions to your web development requirements and the success associated with it.</h5>
    <br> 
    <a  (click)="openModal(template)" class="banner-request-btn ">KNOW MORE HERE</a>
    <br><br>    
  </div>

  

  <div class="col-sm-5 banner-right-outerwrap">
    <div class="banner-form-innerwrap" >
    <h4 class="banner-form-headtxt">GET IN TOUCH WITH US</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmits()">
        <div class="form-group"> 
            <input type="text" formControlName="firstName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
                <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
        </div>

        <div class="form-group"> 
            <input type="email" formControlName="email" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>
                <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-group"> 
            <input type="tel" formControlName="lastName" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number"/>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
                <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
                    <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
                    <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
        </div>
        <div class="form-group"> 
          <input type="text" formControlName="organisation" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name"/>
          <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
              <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
          </div>
      </div>
      <div class="form-group"> 
        <input type="url" formControlName="website" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link"/>
        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
            <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
            <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
        </div>
    </div>
        <div class="form-group"> 
            <textarea formControlName="password" class="form-control banner-form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="px-3">Message is required</div> 
            </div>
        </div>
        <div class="form-group">
            <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
        </div>
    </form>
   
      </div>
  </div>
  </div>
</div>
  

 <!-- who we are 1 -->

<div class="container-fluid p-0" >
  <div class="row">
      <div class="col-sm-6 px-5 bg-red">
          <div class="py-2 sticky-top flex-grow-1">
              <div class="nav flex-sm-column">
                  <div class="title-container mx-auto my-3 py-5">

                      <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                          <!--<span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: #ffffff; width: 30px; margin: 0px auto;"></span>-->
                        </div>
                    <!--<h3 class="seo-whybrandstory-shadow-txt">WHO WE ARE</h3>-->
                    <h3 class="seoblr-choosing-rear-txt">Web UI Design Bangalore</h3>
                  </div>
                  <P class="choosing-ul-p">
                      BrandStory is a leading WebUI Design Bangalore and we promise to deliver comprehensive, planned and unique Web development services depending upon the client’s’ requirements.</P>
                      <P class="choosing-ul-p">Our services range from custom website design to development of complex enterprise Web applications.</P>
                      <P class="choosing-ul-p">Our Web development services support guaranteed high-quality, consistent and cost-effective results to maximize clients’ competitive advantage and productivity.</P>
                  <br><br><br><br>
              </div>
          </div>
      </div>
      
      <div class="col" id="main"> 
            <div class="col-md-12">
              <div class="row seo-card-block"> 
                  
                  <div class="title-container mx-auto">
                     <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                           <!--<span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>-->
                        </div>
                     <!--<h3 class="casestudies-rear-txt">SEO SERVICES</h3>
                    <h3 class="casestudies-shadow-txt">SEO SERVICES</h3>-->
                  </div>
                  <br>

                  <div class="banner-space-init"></div> 
                  <div class="banner-space-init"></div> 
                  <div class="banner-space-init"></div> 
                  

                  <div class="col-sm-12 col-md-12"> 
                    <div class="card-deck">
                    <div class="card services-card-shadow"> 
                    <div class="card-body">  
                        <p class="card-text seoservice-p">As a leadingWeb UI/UX DesignBangalore,we follow an Agile methodology of Website design and development with constant interaction with the clients throughout the development process to ensure them with the best web development service.</p>
                        <p class="card-text seoservice-p"> We provide a wide range of Web development services which is essential encompasses all aspects of Digital Transformation.</p>
                        <p class="card-text seoservice-p"> Brand Story is a complete Digital Solutions company and we know that your website needs to be developed strategies to ensure unique positioning across the digital platform to deliver effective interactive communication to stay ahead in this competitive market.
                    </p>   
                    </div>
                    </div>
                    </div>                  
                    
                  </div> 

                  

                  </div>
              </div> 
              
      </div>
  </div>
</div>

 <!-- Web Development Methodology -->

<div class="container"> 
    <div class="row">
      
        <div class="col" id="main">
 
            <div class="services-card ">
               

                <div class="title-container mx-auto my-5 ">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;"> 
                      </div>
                      <h3 class="need-shadow-txt seoblr"> What is Our Web Development Methodology?</h3>
                  
                </div>
                  <br><br>


                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head">Website Planning</h6>
                        <p class="card-text need-para">
                            It involves identifying the business objective and formulating a strategy that reflects your corporate image and validates your product/service offerings to the targeted customers. 
                        </p>             
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head">Website Content</h6>
                          <p class="card-text need-para"> 
                              Content is the King. And it is our job to formulate the king in the most unique and royal way. It is our job to make sure that the website content caters to all information needs of the customers and compel them to choose you for their need fulfilment.
                          </p>                  
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"> Website Design</h6>
                            <p class="card-text need-para"> 
                                Our web designing experts integrate interactive designs in the wireframes to ensure visually pleasing website designs to keep the customers engaged. We also make sure that the website is responsive in this mobile-friendly era.
                            </p>              
                          </div>
                        </div>

                </div>
            </div>


            <div class="services-card mt-4">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head">Website Construction and Testing</h6>
                        <p class="card-text need-para">
                            Website construction involves converting the content and design into web code based on conformance with certain guidelines that include                        
                        </p> 
                        <p class="card-text need-para">
                            Other related essentials viz. Metadata, character set, analytics, sitemap, robots file, search engine submission, title creation etc. 
                        </p> 
                        <p class="card-text need-para">
                            This is followed by Website Testing which involves testing the website against the above guidelines. This ranges from a simple spell-check testing to full functionality and security review followed by real-time operational monitoring.
                        </p>   
                      </div>
                    </div> 
 

                </div>
            </div>



            <div class="services-card mt-4">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"> Website Maintenance and Review </h6>
                        <p class="card-text need-para">
                            Web Development doesn’t stop with the launch of a website. The real development begins after the site is live and website maintenance is an ongoing process to manage the operational aspect of web development and maintain the online presence of the company. The purpose of a website review is to establish if Website Goals are being achieved and, if not, what corrective action is needed. It is important to review the contribution of the website in attaining the goals and propose and make any further changes or adjustments as per the requirements.                       
                        </p>  
                      </div>
                    </div> 
 

                </div>
            </div>


            <p class="card-text need-para pt-5">
                We at BrandStory can help you design and develop end-to-end digital solutions which involve blogging websites, e-commerce websites, information websites, online brochure/catalogue websites and many more with all essential accessibility features including high-volume transaction management, authentication and secured communication, automated workflow, data and content management, and payment gateway integration. With our expertise in content, design, and development, we assure to build customized websites with visually pleasing designs and manage your online presence with respect to the ever-changing user behaviour.                     
            </p>  
            
    

        </div>
      
    </div>
</div><br>
<div class="container-fluid bg-light py-5">
    <div class="row"> 
        <div class="row"> 
            <div class="col-md-1">
            </div>
        <div class="col-sm-12 col-md-10">
        
        <div class="google-container">
        <p class="branding-cont">
            If you are looking for web development services in bangalore that offers the best services as per your demands, you are welcome at BrandStory.                   
          </p>
         </div>
        
        </div>
        <div class="col-md-1">
          </div>
        </div> 
    </div>
  </div>

  
<div class="container my-5"> 
    <div class="row">
      
                   
        <div class="col" id="main">
 
          
            <div class="services-card ">
                            
                <div class="banner-space-init"></div>  
 

                <div class="card-deck py-1">
                    <div class="card border-0 services-card-shadow mx-2  my-auto"> 
                      <div class="card-body ">   
                        <p class="card-text need-para">
                            As an user-centric design agency in Bangalore, India, we create functionally beautiful digital experiences that highly engage with your target audience.</p>
                            <p class="card-text need-para">We tend to create meaningful relationships amidst brands and their consumers through inspiring design.</p>
                            <p class="card-text need-para">Our first preferences towards design are the user-centered design (USD) which is focused on human tendencies and behavior.</p>
                            <p class="card-text need-para">We are compassionate towards consumers and have the dedication for challenges with smart, well-conceptualized designs.</p>
                      </div>
                    </div>
            
                    <div class="card border-0 px-3 "> 
                        <div class="card-body "> 
                            <div class="mb-4">
                                <img  src="assets/images/wp-content/uploads/2019/icons/seo/web-ui-design-bangalore.png" width="100%" alt="Web UI Design Bangalore"/>
                            </div> 
                          </div>
                      </div>
                           
                </div>
            </div>

 

      
        </div>
      
    </div>
</div>

<div class="container-fluid bg-light py-5">
    <div class="row"> 
        <div class="row"> 
            <div class="col-md-1">
            </div>
        <div class="col-sm-12 col-md-10">
        
        <div class="google-container">
        <p class="branding-cont">
            We always keep a few fundamentals in mind while designing the web UI.</p>
            <p class="branding-cont"> Any online consumer who visits your site usually spends less than 15 seconds on the landing page, which also means we have only less than 15 seconds to make the first impression to your target audience and make him comfortable with the web UI design, inform him about your product and service, involve him and then influence him to make a purchasing decision.                 
          </p>
         </div>
        
        </div>
        <div class="col-md-1">
          </div>
        </div> 
    </div>
  </div>

<!-- our seo process -->

<div class="container"> 
    <div class="row">
      
        <div class="col" id="main">
 
            <div class="services-card ">            

     <br>
                    <p class="card-text seoservice-p ">Our first step lies in creating the blueprint of your web UI that sets the stage to establish your brand anchoring with your target audience.</p>
                    <p class="card-text seoservice-p ">We ensure that the usability of the Web UI design is preserved while the designers set their mark to develop an aesthetically good looking UI page.</p>
                    <p class="card-text seoservice-p ">We strive to get you the genuine results by transforming your passive viewers into active users. We also ensure that the design is minimal and follows the international design standards that have been used widely among global brands.</p>
                    <p class="card-text seoservice-p ">With today’s Digital presence of a brand which can make or break a business, we ensure the UI and the design aspirations of the brand online are a delight to the customer.</p>
  <br><h3>Find the following Checklist for a Great Web UI</h3>
                    <br>

                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body services-card-shadow"> 
                        <span class="number">01</span>  
                        <p class="card-text need-para">
                            Have a Central call to action button                  
                        </p>             
                    
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body services-card-shadow"> 
                            <span class="number">02</span>  
                          <p class="card-text need-para "> 
                              Ensure that CTA’s Stand out
                          </p>             
                      
                        </div>
                      </div>

                      <div class="card border-0"> 
                          <div class="card-body services-card-shadow">
                              <span class="number">03</span> 
                            <p class="card-text need-para"> 
                                Keep simple & short Forms
                            </p>             
                        
                          </div>
                        </div>

                </div>
            </div>


            <div class="services-card py-4 py-sm-4">

                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body services-card-shadow"> 
                        <span class="number">04</span>  
                        <p class="card-text need-para">
                            Have a strong Headline                 
                        </p>             
                    
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body services-card-shadow"> 
                            <span class="number">05</span>  
                          <p class="card-text need-para "> 
                              Less is more. Have the right amount of content
                          </p>             
                      
                        </div>
                      </div>

                      <div class="card border-0"> 
                          <div class="card-body services-card-shadow">
                              <span class="number">06</span> 
                            <p class="card-text need-para"> 
                                Use colors that relate to your branding guidelines 
                            </p>             
                        
                          </div>
                        </div>

                </div>
            </div>


            
            <div class="services-card  py-sm-4">

                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body services-card-shadow"> 
                        <span class="number">07</span>  
                        <p class="card-text need-para">
                            Give them the optional links to navigate within the website           
                        </p>             
                    
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body services-card-shadow"> 
                            <span class="number">08</span>  
                          <p class="card-text need-para "> 
                              Choose clean designs and images to feature
                          </p>             
                      
                        </div>
                      </div>

                      <div class="card border-0"> 
                          <div class="card-body services-card-shadow">
                              <span class="number">09</span> 
                            <p class="card-text need-para"> 
                                Use the images that are optimized for web
                            </p>             
                        
                          </div>
                        </div>

                </div>
            </div>
            <div class="services-card  py-sm-4">

                <div class="card-deck">
                    <div class="card border-0"> 
                      <div class="card-body services-card-shadow"> 
                        <span class="number">10</span>  
                        <p class="card-text need-para">
                            Testimonials are a must          
                        </p>             
                    
                      </div>
                    </div>
            
                    <div class="card border-0"> 
                        <div class="card-body services-card-shadow"> 
                            <span class="number">11</span>  
                          <p class="card-text need-para "> 
                              Have a clear footer with contact information
                          </p>             
                      
                        </div>
                      </div>

                    

                </div>
            </div>

            
        </div>
      
    </div>
</div>



 

<br><br> 
 

<!-- ROI Strip-->

<div class="container-fluid bg-red p-0">
    <div class="row"> 
            <div class="row">

        <div class="col-sm-1 my-auto google-container-image p-0">
            <img  src="assets/images/wp-content/uploads/2019/icons/seo/gold-medal.png" alt="Web UI Design in Bangalore"/>
        </div>

        <div class="col-sm-11 pl-5">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text roi text-white ">ROI Lead Best SEO Company/Agency in Bangalore India</h2>
        <p class="text-white branding-cont">We are group of passionate digital marketing experts; industry thought leaders and creative designers coming together to produce stunning ROI lead digital marketing campaigns for brands. We are a social media marketing agency based in Bangalore, India providing digital marketing campaign management support to brands across the globe.</p><br><br>
        </div>
        
        </div>
        </div> 
    </div>
  </div>
   <br><br>
  
   
    
 

<div class="container"> 
    <div class="row">
      
        <div class="col" id="main">
 
            <div class="services-card ">
               

                <div class="title-container mx-auto my-5 ">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
                        <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
                      </div>
                  <h3 class="casestudies-rear-txt">SERVICES</h3>
                  <h3 class="need-shadow-txt seo-services">SERVICES</h3>
                </div>
                  <br><br>


                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/ui-design-company-bangalore/">UI UX Designing</a></h6>
                        <p class="card-text need-para">
                            As an user-centric design agency in Bangalore, India, we create functionally beautiful digital experiences that highly engage with your target audience. We tend to create meaningful relationships amidst brands and their consumers through inspiring design…                        
                        </p> 
                        <a href="https://brandstory.in/ui-design-company-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/website-development-company-in-bangalore/">Website Development</a></h6>
                          <p class="card-text need-para"> 
                              Making sure that your website is universally compatible and user friendly, an exclusive expert team of designers and developers are you assigned to to ensure that not only the plan goes according to a timeline but also that your approval is taken… 
                          </p>             
                          <a href="https://brandstory.in/website-development-company-in-bangalore/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/content-marketing/">Content Marketing</a></h6>
                            <p class="card-text need-para"> 
                                Simple.We create digital content. It’s the element that helps us to be the company we are and our ever growing client list is an proof to that. Brandstory is one of the leading content marketing communications company in Bangalore, India provides…
                            </p>             
                            <a href="https://brandstory.in/content-marketing/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>


            <div class="services-card mt-3">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/seo-company-bangalore/">Search Engine Optimisation</a></h6>
                        <p class="card-text need-para">
                            Search Engine Optimization (SEO) program increases overall visibility of your business across all search engine platform. It provides an opportunities for brands to create acquisitions (sales, leads, inquiries etc.), and help consumers to …                        
                        </p> 
                        <a href="https://brandstory.in/seo-company-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/">Pay Per Click (PPC)</a></h6>
                          <p class="card-text need-para"> 
                              We increase your digital footprint with Pay Per Click campaigns or Google Adwords and Bing Adwords. A plan is sketched out and implemented accordingly, with this your campaign has begun. The plan includes specific important keywords … 
                          </p>             
                          <a href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/services/social-media-marketing-agency-bangalore/">Social Media Marketing</a></h6>
                            <p class="card-text need-para"> 
                                We provide expertise in design implementation providing a full range of social media marketing services(SMM) bounding in popular social media platforms, content generation, creatives ideation, social branding techniques. Holding it all together …
                            </p>             
                            <a href="https://brandstory.in/services/social-media-marketing-agency-bangalore/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>



            <div class="services-card mt-3">
                
                <div class="card-deck">
                    <div class="card border-0 services-card-shadow"> 
                      <div class="card-body">  
                        <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/email-marketing-services-in-bangalore/">Email Marketing</a></h6>
                        <p class="card-text need-para">
                            Email Marketing It’s not as easy as it may sound. It’s not just composing an email draft, copying a list of contacts, and clicking the “send” button. Invariably, you will face struggles ranging from privacy issues, permission boundaries, technical glitches …         
                        </p> 
                        <a href="https://brandstory.in/email-marketing-services-in-bangalore/" class="txt-red">READ MORE</a>            
                    
                      </div>
                    </div>
            
                    <div class="card border-0 services-card-shadow"> 
                        <div class="card-body ">  
                          <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/orm-company-bangalore-india/">Online Reputation Management</a></h6>
                          <p class="card-text need-para"> 
                              Online reputation management includes managing your business and its brand value across every review and rating forum to every social media platform. It is ideally required for 3 major purposes adding to the growth of your business… 
                          </p>             
                          <a href="https://brandstory.in/orm-company-bangalore-india/" class="txt-red">READ MORE</a>      
                        </div>
                      </div>

                      <div class="card border-0 services-card-shadow"> 
                          <div class="card-body "> 
                            <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/analytics-and-reporting/">Analytics and Reporting</a></h6>
                            <p class="card-text need-para"> 
                                A gripping content, catchy headline, constant updates will mean nothing if you can’t see the returns on it. So after all the hard work is done, we send you a detailed report and statistics on how well you are doing on digital…
                            </p>             
                            <a href="https://brandstory.in/analytics-and-reporting/" class="txt-red">READ MORE</a>
                          </div>
                        </div>

                </div>
            </div>




    

        </div>
      
    </div>
</div>


<br><br> 
 
 


<!-- Google Partner -->
<div class="container-fluid bg-red p-0">
    <div class="row"> 
        <div class="row">
        
        <div class="col-sm-1 my-auto google-container-image p-0">
                <img  src="assets/images/wp-content/uploads/2019/icons/seo/trophy.png" alt="SEO Company in Bangalore"/>
        </div>

            
        
        <div class="col-sm-7">
        
        <div class="google-container">
        <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
        <p class="text-white branding-cont">We are official partners with Google, so you know that you are in the hands of a trusted and promising company.</p><br><br>
        </div>
        
        </div>
        <div class="col-sm-4 my-auto google-container-image">
          <a href="https://www.google.com/partners/agency?id=1975289574" target="_blank"><img  src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" alt="Official Google Partner"/></a>
        </div>
        </div> 
    </div>
  </div>
   <br><br>
      
<div class="container"> 
    <div class="row">
      
        <div class="col-sm-12 col-md-12" id="main">
   <div class="services-card testimo">

      <div class="title-container mx-auto ">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
            </div>
        <h3 class="casestudies-rear-txt">TESTIMONIALS</h3>
        <h3 class="need-shadow-txt seo-services">TESTIMONIALS</h3>
      </div>
        <br><br> 
        
       <div class="card-deck">
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
               <div class="text-center m-3">
                 <i class="fa fa-quote-left "></i>
               </div>
               <p class="card-text text-center"> 
                 The experience of working with BrandStory, was a wonderful one. They have a passionate, responsible and competent team, very thoughtful and hardworking, and always reliable in delivering the results. We treat each other as business partners, rather than just clients.
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2018/04/48.png" class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>              
               <p class="card-text text-center">
                 <small>
                   Jia Zhang<br>
                   Country Manager(China)<br>
                   Astreem Consulting Pte Ltd
                 </small>
               </p>
             </div>
           </div>
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
                 <div class="text-center m-3">
                     <i class="fa fa-quote-left "></i>
                   </div>              
               <p class="card-text text-center">
                   BrandStory has been a very trusted and reliable partner for Vymo. It is very tough to fully absorb a client’s design preferences, tune your style to it and consistently deliver expectations. BrandStory has managed to do it for Vymo for over an year now. Their work ethos and enthusiasm for Vymo’s success make us feel like they are part of our own team. Thank you BrandStory!
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2017/12/54.png" class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>
               <p class="card-text text-center">
                   <small>
                     Yamini Bhat<br>
                     CEO<br>
                     Vymo
                   </small>
               </p>
             </div>
           </div>
           <div class="card card-box-shadow"> 
             <div class="card-body"> 
                 <div class="text-center m-3">
                     <i class="fa fa-quote-left "></i>
                   </div>              
               <p class="card-text text-center">
                   The team at BrandStory is extremely understanding of customer requirements, accepting of changes that are asked. It is difficult to find a mature organisation that has all of these together and I am happy to have found BrandStory. Their social media marketing plan was expansive and had great target ideas and well executed. Overall, I would highly recommend the team at BrandStory.
               </p>
               <div class="text-center">
                   <img width="180" height="90" src="assets/images/wp-content/uploads/2018/04/58.png " class="vc_single_image-img attachment-medium" alt="seo in bangalore" sizes="100vw">
               </div>              
               <p class="card-text text-center">
                   <small>
                     Ramya Rajendiran<br>
                     Curriculum Director<br>
                     Springdays (CBSE) International School
                   </small>
               </p>
             </div>
           </div> 
       </div>
       <br>
   </div>
  </div>
</div> 
   

   
   <div class="col-sm-8">
    <ng-template #template >
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()"   novalidate>
            <div class="form-group">                 
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name"/>
                <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
                    <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters allowed</div>
                    <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
                </div>
              </div>            
            <div class="form-group"> 
              <input type="email" formControlName="fEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }"  placeholder="Enter Email">
              <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
                  <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>
                  <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
            </div>
    
            <div class="form-group"> 
              
              <input type="tel" formControlName="fPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Mobile Number"/>
                <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
                    <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
                    <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
                    <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
                </div>
            </div> 
    
            <div class="form-group"> 
               
                <input type="url" formControlName="fService" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link"/>
                <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
                    <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
                    <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
                </div>
              </div>
    
            <div class="form-group"> 
                
                <textarea formControlName="fMessage" class="form-control" [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message"  rows="2" style="height:auto !important;" ></textarea>
          <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div> 
          </div>
              </div>
              <br>
            <button  type="submit"  class="btn btn-primary text-center bg-red border-0">Submit</button>
          
          </form>
          <br><br>
      </div>
    </ng-template>
  </div>