<!-- Top Images -->
<div class="container-fluid sec_top">
    <div class="row ban_bg d-flex justify-content-around">
        <div class="col-sm-12 col-md-8 add1_view d-flex align-items-center">
                <div class="col-md-10 mx-auto">
                    <p class="text-white head_font">
                        Establish your Brand, Promote your Business with LinkedIn Marketing
                    </p>

                    <p class="text-white head_para">
                        It is rated as the #1 platform by
                        marketers for B2B lead generation. Whether your business objective is to generate leads,
                        build brand awareness or drive website traffic, we BrandStory, a Linkedin marketing company in
                        Bangalore can help with you a precise solution
                    </p>
            </div>
        </div>
        <div class="col-sm-4" style="padding: 0px;">
            <img src="../../../assets/assets_bslead/images/linkedin_marketing/01.png" class="mob_image_top img-fluid"
                alt="Linkedin Marketing" title="Linkedin Marketing">

        </div>

    </div>
</div>
<!-- Top Images -->



<!-- Nav Heading -->
<div class="container-fluid py-4 sec_nav_head">
  <div class="container">
    <div class="row text-center">
        <div class="col-sm-3">
            <a href="#" alt="approach" class="a_black">Platforms</a>
        </div>
        <div class="col-sm-3">
            <a href="#" alt="approach" class="a_black">Start a Pilot Program</a>
        </div>
        <div class="col-sm-3">
            <a href="#" alt="approach" class="a_black">Success Stories</a>
        </div>
        <div class="col-sm-3">
            <a href="#" alt="approach" class="a_black">Resources</a>
        </div>
    </div>
  </div>
</div>
<!-- Nav Heading -->

<!-- heading_Sec -->
<div class="container-fluid text-center py-5 add_pad20">

        <div class="col-md-8 mx-auto text-center ">
            <p class="text_new1">Engage with a community of professionals to help propel your business ahead</p>
        </div>

    <br>

        <div class="col-md-10 mx-auto text-center ">

            <p class="text_para_new">Brandstory, a Linkedin marketing agency in Bangalore, will help you reach audiences that are most likely
                to
                convert to customers. From making connections to establishing partnerships and
                networking, our LinkedIn marketing can build and promote your brand. This social media
                tool exposes you to innumerable connections from where you can find customers and
                partners to grow your business. You can segment the target audience on LinkedIn based on
                title, role, skills or location.
            </p>
        </div>

</div>
<!-- heading_Sec -->


<!-- body content -->
<div class="container pt-3">
    <div class="row">
        <div class="col-md-10 mx-auto">

            <div class="row pb-5 d-flex justify-content-around align-items-center">
                <div class="col-md-6 desktop_pdr40">

                    <p class="head_p">Run Compelling LinkedIn Ads</p>
                    <!-- <br> -->
                    <p class="text_para_new" style="margin-top: 5%;">Run your marketing campaign around clearly defined
                        goals, targeted audience
                        and maximum engagement. Our LinkedIn Text Ads and dynamic Ads are easy and precise to the point.
                        They offer a
                        big opportunity to target niche audiences, drive traffic to a specific URL and can be
                        personalized.
                    </p>
                </div>
                <div class="col-md-6 desktop_pdl40">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/02.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
            </div>

            <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
                <div class="col-md-6 desktop_pdr40 web_image">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/03.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
                <div class="col-md-6 desktop_pdl40">
                    <p class="head_p">Be Visible With Sponsored Content</p>
                    <!-- <br> -->
                    <p class="text_para_new" style="margin-top: 5%;">Enable high-value interactions through customized,
                        private messages with our Linkedin marketing services in Bangalore. Through sponsored content,
                        we will help you promote an asset that you have already published on your Linkedin Page which
                        will attract users outside of your
                        followers and visitors.
                    </p>
                </div>

                <div class="col-md-6 desktop_pdr40 mobileview_image">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/03.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
            </div>

            <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
                <div class="col-md-6 desktop_pdr40">
                    <p class="head_p">Personalized InMails</p>
                    <!-- <br> -->
                    <p class="text_para_new" style="margin-top: 5%;">Increase click through rates and drive conversions.
                        Send personalized messages to your target audience through our Sponsored InMail
                        services. Our emails have compelling content with unique presentations to catch the
                        attention of the reader.

                    </p>
                </div>

                <div class="col-md-6 desktop_pdl40">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/04.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
            </div>

            <div class="row pt-5 pb-5 d-flex justify-content-around align-items-center">
                <div class="col-md-6 desktop_pdr40 web_image">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/05.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>

                <div class="col-md-6 desktop_pdl40">
                    <p class="head_p">Prospect And List Building</p>
                    <!-- <br> -->
                    <p class="text_para_new" style="margin-top: 5%;">Narrow down leads before converting them to
                        customers with the help of Linkedin marketing strategies from BrandStory, one of best Linkedin
                        Marketing Companies in Bangalore. LinkedIn Sales Navigator lets you use filters to narrow down
                        users and directly
                        target the niche audience. You can focus on your leads and warm up to them
                        through comments and likes before converting them to customers.
                    </p>
                </div>
                <div class="col-md-6 desktop_pdr40 mobileview_image">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/05.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
            </div>

            <div class="row pt-5 d-flex justify-content-around align-items-center">
                <div class="col-md-6 desktop_pdr40">
                    <p class="head_p">Integration</p>
                    <!-- <br> -->
                    <p class="text_para_new" style="margin-top: 5%;">We BrandStory, a top Linkedin marketing company in
                        Bangalore will help you understand the analytics for deeper insights into customer behavior. As
                        we offer integration of LinkedIn marketing with other platforms such as Google
                        Analytics to obtain elaborate insights into customer behavior.</p>
                </div>

                <div class="col-md-6 desktop_pdl40">
                    <img src="../../../assets/assets_bslead/images/linkedin_marketing/06.png" class="body_image_mob img-fluid"
                        alt="Linkedin Marketing" title="Linkedin Marketing">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- body content -->


<!--CASE STUDIES - Campaign Based Marketing -->
<div class="container py-5">
    <div class="col-md-12 mx-auto text-center">
        <hr>
        <!-- <div class=" bg_img">
            <p class="text-center case_study"> CASE STUDIES</p>
        </div> -->

        <img src="../../../assets/assets_bslead/images/linkedin_marketing/market_process_wtrmrk.png"
        alt="Linkedin Marketing" title="Linkedin Marketing" class="img-fluid recent_img">
        <p class="case_image">LinkedIn Based Marketing</p>
    </div>

    <p class="col-md-12 mx-auto text-center step_text">A step by step process</p>

    <p class="col-md-12 mx-auto text-center mt-5">
        <img src="../../../assets/assets_bslead/images/linkedin_marketing/linkedin_process.png"
        alt="Linkedin Marketing" title="Linkedin Marketing" class="img-fluid process_img">
    </p>

</div>
<!-- Campaign Based Marketing -->


<!-- PILOT PROGRAM -->

<div class="container-fluid pilot_pody1 py-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <p class="pilot_prog">PILOT PROGRAM</p>
            <p class="pilot_h2">Get custom recommendations for LinkedIn marketing</p>
            <p class="pilot_cnt">Meet your real audience and generate revenue</p>
        </div>
    </div>
</div>

<!-- PILOT PROGRAM -->

<!-- PILOT PROGRAM2 -->
<div class="container-fluid pilot_pody2 py-5" *ngIf="false">
    <div class="text-white">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <p class="pilot_p2">Tried and tired of every kind of marketing this season? Connect with BrandStory to
                    leverage Demand Generation for your teams.</p>

                <br>

                <div class="row">
                    <div class="col-sm-9 mx-auto list_text">

                        <ul class="ul_mob_left float-left">
                            <li
                                style="list-style-image: url('../../../assets/assets_bslead/images/linkedin_marketing/tick_list.png')">
                                You
                                Get</li>
                            <li
                                style="list-style-image: url('../../../assets/assets_bslead/images/linkedin_marketing/tick_list.png')">
                                You
                                Get</li>
                        </ul>

                        <ul class="ul_mob_right float-right">
                            <li
                                style="list-style-image: url('../../../assets/assets_bslead/images/linkedin_marketing/tick_list.png')">
                                You
                                Get</li>
                            <li
                                style="list-style-image: url('../../../assets/assets_bslead/images/linkedin_marketing/tick_list.png')">
                                You
                                Get</li>
                        </ul>

                    </div>

                </div>

                <div class="text-center mt-2">
                    <button type="button" class="btn btn-gray">Opt-in for a pilot program</button>
                </div>

            </div>
        </div>




    </div>
</div>
<!-- PILOT PROGRAM2 -->



<!-- FAQ -->
<div class="container py-5">

    <div class="col-md-7 mx-auto text-center">
        <hr>
        <img src="../../../assets/assets_bslead/images/linkedin_marketing/bg_qs.png"
        alt="Linkedin Marketing" title="Linkedin Marketing" class="faq_img img-fluid">
        <p class="case_image1">FAQ’S on LinkedIn Marketing</p>
    </div>

    <div class="col-md-10 mx-auto pt-5">
        <div class="row" *ngFor="let item of faq_array; let i=index;">
            <p class="float-left w_95">
                {{item.title}}
            </p>

            <span class="float-right" (click)="faq_click(i);">
                <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !item.checked,' fa-minus': item.checked}"></i>
            </span>

            <div class="col-12 mb-3" *ngIf="item.checked">

                <p *ngIf="item.sub_text" class="sub_text">
                    {{item.sub_text}}
                </p>

                <ul class="desc_width90" *ngIf="item.message_list.length>0">
                    <li class="list_h30" *ngFor="let list of item.message_list;">
                        <div class="fa_hand_p10">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </div>
                        <div class="text_w90">
                            <span class=""> {{list}} </span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<!-- FAQ -->

<!-- better decisions -->
<div class="container-fluid py-5 better_dc">
    <div class="row">
        <div class="col-md-10 mx-auto text-center">

                <p class="btr_p">Better discussions, better decisions</p>

            <p class="btr_p2">We are for everyone - Startups, SMBs, Enterprises. Connect with us for a conversation.</p>
            <br>
            <a (click)="openModal(template)" role="button" class="speek_us">Speak to us
                <span><img src="../../../assets/assets_bslead/images/linkedin_marketing/right_arrow_long.jpg"
                    alt="Linkedin Marketing" title="Linkedin Marketing"></span>
                <!-- <span> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> -->
            </a>

        </div>
    </div>
</div>
<!-- better decisions -->


<div class="container" *ngIf="false">
  <div class="enquire">
    <div class="jumbotron text-center bg-red p-4">
      <h1 class="display-4 text-white">Get started with us</h1>
      <a class="btn btn-lg mt-3 enquiry-btn" (click)="openModal(template)" role="button"> Enquire</a><br><br>
      <a class="btn btn-link text-white" routerLink="/contact-us" role="button">Or Contact Us</a>
    </div>
  </div>
</div>

<div class="col-sm-8">
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Get Quotes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <form [formGroup]="enquiryModal" (ngSubmit)="onSubmitEnquiryModal()" novalidate>

        <div class="form-group">
          <input type="text" formControlName="fName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fName.errors }" placeholder="Enter Name" />
          <div *ngIf="submitted && fenquiryModal.fName.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fName.errors.required" class="px-3">Name is required</div>
            <div *ngIf="fenquiryModal.fName.errors.pattern" class="px-3">Only character and Minimun 3 characters allowed
            </div>
            <div *ngIf="fenquiryModal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="fEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fEmail.errors }" placeholder="Enter Email">
          <div *ngIf="submitted && fenquiryModal.fEmail.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fEmail.errors.required" class="px-3">Email is required</div>
            <div *ngIf="fenquiryModal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>

          </div>
        </div>

        <div class="form-group">
          <input type="tel" formControlName="fPhone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fPhone.errors }" placeholder="Mobile Number" />
          <div *ngIf="submitted && fenquiryModal.fPhone.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
            <div *ngIf="fenquiryModal.fPhone.errors.minLength" class="px-3">Mobile Number minimum digits is required
            </div>
            <div *ngIf="fenquiryModal.fPhone.errors.maxLeanth" class="px-3">Mobile Number maximum digits is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="organisation" class="form-control banner-form-field"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.organisation.errors }"
            placeholder="Organization Name" />
          <div *ngIf="submitted && fenquiryModal.organisation.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.organisation.errors.required" class="px-3">Organization Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <select formControlName="fService" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fService.errors }">
            <option disabled selected>Select a service</option>
            <option>Design</option>
            <option>UI/UX</option>
            <option>Development</option>
            <option>Digital</option>
          </select>
          <div *ngIf="submitted && fenquiryModal.fService.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fService.errors.required" class="px-3">Select service is required</div>
          </div>
        </div>

        <div class="form-group">
          <textarea formControlName="fMessage" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && fenquiryModal.fMessage.errors }" placeholder="Message" rows="2"
            style="height:auto !important;"></textarea>
          <div *ngIf="submitted && fenquiryModal.fMessage.errors" class="invalid-feedback">
            <div *ngIf="fenquiryModal.fMessage.errors.required" class="px-3">Message is required</div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

      </form>

      <br><br>
    </div>
  </ng-template>
</div>
