<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 bg-red">
      <div>
        <h2 class="enquire-left-text text-white text-left">Start your Digital Transformation with us</h2>
        <div class="container">
          <div class="row text-left px-3">
            <!-- <div class="col-md-4 col-sm-12">
                       <a class="nounderline" href="https://www.google.com/maps/dir//Brandstory+Solutions+Pvt.Ltd,+No+5,1st+Cross,+3rd+floor+Krishna+Reddy+Colony,+Domlur+Layout,+Bengaluru,,+Bengaluru,+Karnataka+560071/@12.9561176,77.6352623,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bae16a9d837231b:0xf53f2681224f652!2m2!1d77.637451!2d12.9561124">
                        <span class="text-white px-3"><i class="fa fa-map-marker"></i></span>
                          <span class="text-white ">Location</span>
                       </a></div>-->
            <div class="col-md-6 col-sm-12"><a class="nounderline" href="tel:8553131176">
                <span class="text-white textmadelo"><i
                    class="fa fa-mobile mobile-phone"></i>&nbsp;&nbsp;8553131176</span>
              </a></div>
            <div class="col-md-6 col-sm-12"><a class="nounderline" href="info@brandstory.in">
                <span class="text-white textmadelo"><i
                    class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@brandstory.in</span>
              </a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 contact-form-block" id="main">
      <br><br><br>
      <br>

      <iframe src="https://forms.teamwave.com/tw10807-54b187c388584f189d7ea3e3c2221406-19000form" style="width: 100%;"
        frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      <div style="text-align: center;" class="tw-webforms"
        ng-src="https://forms.teamwave.com/tw10807-54b187c388584f189d7ea3e3c2221406-19000form">
        <script type="text/javascript" src="https://forms.teamwave.com/static/js/webform-1.0.js"></script>
      </div>


    </div>
  </div>
</div>
