<div class="background-pattern mobile"></div>
<div class="container">
  <div class="banner-space-init"></div>
  <div class="row banner-left-outerwrap">
    <div class="col-sm-7 banner-left-innerwrap">
      <h1 class="seo-banner-head">
        SEO Company in Delhi
      </h1>
      <br>
      <h5 class="seo-banner-subtxt">
        Delhi is home to several start-ups and global MNCs and we are one such <strong>SEO agency in Delhi</strong> that
        helps enterprises big and small to stay at the top of the race using various SEO tips and tricks. We are
        considered nationwide among the top <strong>SEO agencies in Delhi India</strong>. We are an award-winning SEO
        company in Delhi.
      </h5>
      <h5 class="seo-banner-subtxt">
        As an <strong>SEO services company in Delhi</strong>, our team is dedicated to keeping your company's website at
        the top of the Google search results. In today's digital world, you do not only need a properly designed website
        but you also need to have a good SEO strategy in place to beat out your rivals. Small small firms to large
        firms, every single one of them have a competent SEO team that is working behind closed doors day and night. We
        are here to do exactly that.
      </h5>
      <h5 class="seo-banner-subtxt">
        Our SEO strategies have a 100 percent success rate which makes us the best <strong>SEO company in Delhi</strong>.
        Our team consists of experienced SEO strategists who have gained their knowledge after working in different
        industries. Our strategies will give you results immediately as you will see a jump in your traffic rate as soon
        as you start working with us.
      </h5>
      <h5 class="seo-banner-subtxt">
        Whether you are a new company that needs to create an online presence or need help with your existing SEO
        strategy, we are always here to help.
      </h5>
      <br>
      <a (click)="openModal(template)" class="banner-request-btn ">KNOW MORE HERE</a>
      <br><br>
    </div>


    <div class="col-sm-5 banner-right-outerwrap">
      <div class="banner-form-innerwrap">
        <h4 class="banner-form-headtxt">GET IN TOUCH WITH US</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmits()" novalidate>
          <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Name" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="f.firstName.errors.pattern" class="px-3">Only characters allowed</div>
              <div *ngIf="f.firstName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" formControlName="email" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required" class="px-3">Email is required</div>
              <div *ngIf="f.email.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <input type="tel" formControlName="lastName" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Mobile Number" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="f.lastName.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="f.lastName.errors.minLength" class="px-3">Mobile Number format is required</div>
              <div *ngIf="f.lastName.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="organisation" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Organization Name" />
            <div *ngIf="submitted && f.organisation.errors" class="invalid-feedback">
              <div *ngIf="f.organisation.errors.required" class="px-3">Organization Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="url" formControlName="website" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.organisation.errors }" placeholder="Website Link" />
            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
              <div *ngIf="f.website.errors.required" class="px-3">Website Link is required</div>
              <div *ngIf="f.website.errors.pattern" class="px-3">Website Link is required</div>
            </div>
          </div>
          <div class="form-group">
            <textarea formControlName="password" class="form-control banner-form-field"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Message" rows="2"
              style="height:auto !important;"></textarea>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required" class="px-3">Message is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="get-quote-btn btn-block btn btn-primary text-center bg-red border-0">SEND</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- who we are 1 -->

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-6 px-5 bg-red">
      <div class="py-2 sticky-top flex-grow-1">
        <div class="nav flex-sm-column">
          <div class="title-container mx-auto my-3 py-5">

            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: #ffffff; width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="seo-whybrandstory-shadow-txt">WHO WE ARE</h3>
            <h3 class="seoblr-choosing-rear-txt">ABOUT BRANDSTORY</h3>
          </div>
          <P class="choosing-ul-p">
            As the best SEO company in Delhi, we are following white hat SEO techniques to our clients.
          </P>
          <P class="choosing-ul-p">
            Black hat seo techniques sometimes will give better ranking but it is not a long term result, It may lead to
            search engine penalty.
          </P>
          <P class="choosing-ul-p">
            So we are adopting only white hat seo marketing strategy to get better website ranking in google or bing
            organic results.
          </P>
          <br><br><br><br>
        </div>
      </div>
    </div>

    <div class="col" id="main">
      <div class="col-md-12">
        <div class="row seo-card-block">

          <div class="title-container mx-auto">
            <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
              <span class="uvc-headings-line"
                style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
            </div>
            <h3 class="casestudies-rear-txt">SEO SERVICES</h3>
            <h3 class="casestudies-shadow-txt">SEO SERVICES</h3>
          </div>
          <br>

          <div class="banner-space-init"></div>
          <div class="banner-space-init"></div>
          <div class="banner-space-init"></div>


          <div class="col-md-6 ">
            <div class="card-deck">
              <div class="card services-card-shadow">
                <div class="card-body">
                  <p class="card-text seoservice-h">Keyword ideas and difficulty</p>
                  <p class="card-text seoservice-p">Competitive & frequently searched keywords are more expensive and
                    take a longer time to reflect back.
                  </p>
                </div>
              </div>
            </div>

            <br><br>
            <div class="card-deck">
              <div class="card services-card-shadow">
                <div class="card-body">
                  <p class="card-text seoservice-h">On-Page Optimization</p>
                  <p class="card-text seoservice-p"> Search engines constantly update their algorithms. Content build
                    for users, Click Through Rates, Usability,Keywords Strategy, Interlinking
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="card-deck">
              <div class="card services-card-shadow">
                <div class="card-body">
                  <p class="card-text seoservice-h">Technical</p>
                  <p class="card-text seoservice-p">Web pages load speed, crawlability, URLs structure, website code
                    quality, website security.
                  </p>
                </div>
              </div>
            </div>

            <br><br>
            <div class="card-deck">
              <div class="card services-card-shadow">
                <div class="card-body">
                  <p class="card-text seoservice-h">Off-Page Optimization</p>
                  <p class="card-text seoservice-p">Building high-quality and relevant back link that drive heavy
                    traffic is the final step to ensure you are well reached out than your competitors.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- our seo process -->

<div class="container">
  <div class="row">

    <div class="col" id="main">

      <div class="services-card ">


        <div class="title-container mx-auto mx-auto mt-sm-5 mb-5 ">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
          </div>
          <h2 class="need-shadow-txt seo">Our SEO Process</h2>
        </div>
        <br><br>


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Understanding Your Business
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Finding Valuable Keyword Research For Your Business
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Optimizing Website For Target Audience
              </p>

            </div>
          </div>

        </div>
      </div>


      <div class="services-card py-4 py-sm-4">

        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body services-card-shadow">


              <button type="button" class="btn btn-primary ngbs-dropdown container  "
                (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic">Technical Optimization
                <i class="fa fa-angle-down pl-3"></i></button>

              <div id="collapseBasic" [collapse]="isCollapsed" class="ngbs-dropdown container pl-5">
                <div class="well well-lg card card-block card-header ngbs-dropdown  ngbs-list">Some content</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">User interface
                  optimization and user experience optimization for various devices like mobile, tablet and desktops
                </div>
              </div>
            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">

              <button type="button" class="btn btn-primary ngbs-dropdown container  "
                (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                aria-controls="collapseBasic">On Page Optimization
                <i class="fa fa-angle-down pl-3"></i></button>

              <div id="collapseBasic" [collapse]="isCollapsed2" class="ngbs-dropdown container pl-5">
                <div class="well well-lg card card-block card-header ngbs-dropdown  ngbs-list">Title tag optimization
                </div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Meta description
                  optimization</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Robots file</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Sitemap update</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Clean URL optimization
                </div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Canonical tag</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Robots tag</div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Duplicate content checking
                </div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Quality content creation
                </div>
              </div>
            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <button type="button" class="btn btn-primary ngbs-dropdown container  "
                (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
                aria-controls="collapseBasic">Off Page Optimization
                <i class="fa fa-angle-down pl-3"></i></button>

              <div id="collapseBasic" [collapse]="isCollapsed3" class="ngbs-dropdown container pl-5">
                <div class="well well-lg card card-block card-header ngbs-dropdown  ngbs-list">Quality link building
                </div>
                <div class="well well-lg card card-block card-header ngbs-dropdown ngbs-list">Building links through
                  content marketing</div>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="services-card  py-sm-4">

        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Local SEO Optimization
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Structured Data Implementation
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Amp Implementation
              </p>

            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img style="width:100%;" src="assets/images/wp-content/uploads/2019/our-seo-process.jpg" alt="Our SEO Process"
            title="Our SEO Process">
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="card-text seoservice-p my-3">
            which will lead to generating more conversions or leads to your business.
          </p>
          <p class="card-text seoservice-p py-2">
            We are not only rank your website for the targeted keyword on the 1st page of major search engines like
            Google, Bing and other search engines search results but also we generate leads and conversions.
          </p>
          <p class="card-text seoservice-p">
            Reach out to <a href="mailto:info@brandstory.in" class="txt-red">info@brandstory.in</a> the best SEO
            services company in Delhi to gain the top position for your business.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br>

<!-- SEO Service Bangalore -->

<div class="container mt-2">
  <div class="row">


    <div class="col" id="main">


      <div class="services-card ">

        <div class="title-container mx-auto need-for-seo">
          <h1 class="need-shadow-txt seo-services-blr">SEO Services in Delhi</h1>
        </div>


        <!-- <div class="banner-space-init"></div> -->

        <div class="col-md-12 mx-auto mt-5">

          <p class="roi_para_text">When everything is becoming digitized, you cannot escape the term SEO. The term creeps up
            on every article that has to do with business and online marketing. The term stands for search engine
            optimization. We are an <b>SEO company in Delhi</b> offering SEO solutions.</p>

          <p class="roi_para_text">The reason why it pops up on every article and why Google keeps changing its SEO game rules
            that keep frustrating experts is that SEO plays a crucial role in ranking your website on the Google search
            results. Every few days some new start-up company comes up and launch their website and all these websites compete
            for online visibility. The easiest way to get online visibility? You guessed it- SEO.</p>

          <p class="roi_para_text">If you are starting a business you cannot just ignore the importance of online visibility
            and presence in this digital age. If your website does not have good reviews and if it does not show up on the
            first 5 ranks of the Google SERPs, then you will not see much traffic to your website no matter how top-quality
            service you provide.</p>

          <p class="roi_para_text">We are an <b>SEO company in Delhi</b> that helps you bridge this gap where you provide
            quality products but are not seeing the numbers grow on your monthly sales report. We help you change the game and
            help you get ahead in the race. The <b>SEO agency in Delhi</b> analyze your market and creates an SEO campaign
            that is sure to bring in the results that you have been hoping to see for a while now.</p>

          <p class="roi_para_text">We have over 500 in-house experts working on your project to increase the numbers at the
            end of the day. <b>SEO in Delhi</b> guarantees you a 60 percent jump rate in your traffic once you have us on your
            team. </p>


        </div>


        <div class="row py-5">

          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card_h_50 ">
              <div class="card-body">
                <div class="col-md-12 mx-auto">
                  <h4 class="roi_h4_head text-center">What can we do for you?</h4>

                  <p class="roi_para_text">As the best SEO company in Delhi, we can do the following for your company.
                  </p>

                  <ul class="card_ul02">
                    <li class="list_seo_text1">First and foremost, our team will have a website audit to analyze your website structure
                      and figure out the areas that are out of date according to the latest Google SEO guidelines. </li>

                    <li class="list_seo_text1">Our team will then work on coming up with a strategy that will cover these problematic
                      areas.</li>


                    <li class="list_seo_text1">Conduct keyword research that is related to your products and services. </li>


                    <li class="list_seo_text1">After the research is concluded, our team will optimize your website to make it crawlable
                      so that it can easily be indexed by search engines. Doing this will make sure that your website will pop up when
                      an internet user searches with a keyword that is relevant to your products. </li>

                    <li class="list_seo_text1"><b>SEO company in Delhi</b> will also optimize your web design to make it more responsive
                      and mobile-friendly. We will also optimize it to be voice friendly since a recent study shows that voice
                      searching will be the norm in the near future. </li>


                    <li class="list_seo_text1">Our team will take care of the on-page SEO content as well as off-page SEO content. We
                      will help you create backlinks to have a better ranking.</li>


                    <li class="list_seo_text1">Our team will constantly keep track of the changes and will immediately attend to any
                      problem that might arise. We will continue to make tweaks according to the latest SEO tactics. </li>


                    <li class="list_seo_text1">You will be assigned a project manager who will constantly keep you in the loop regarding
                      the stage we are working on and what changes we have made. We will also create a detailed performance report to
                      help you understand what we have achieved so far. </li>

                  </ul>


                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card  card_h_50">
              <div class="card-body">
                <div class="col-md-12 mx-auto">
                  <h4 class="roi_h4_head text-center">What SEO techniques do we employ?</h4>

                  <p class="roi_para_text">These are key techniques that we apply to optimize your website for it be SEO friendly: </p>

                  <p class="roi_para_text">These are key techniques that we apply to optimize your website for it be SEO friendly:</p>

                  <p class="para_h6_bold">On-page SEO</p>
                  <p class="roi_para_text">On-page SEO includes the content on your website. Our team uses targeted keywords, edits
                    your meta tags, and meta description, and also uses descriptive URLs.</p>

                  <p class="para_h6_bold">Off-page SEO</p>
                  <p class="roi_para_text">Off-page SEO includes external link building. This link building establishes a link with
                    the other vast content on the internet. Off-page SEO when done right can help drive a lot of traffic to your
                    website. </p>

                  <p class="para_h6_bold">Technical SEO</p>
                  <p class="roi_para_text">Technical SEO involves optimization of your website and it is content so that it is easily
                    readable and explorable by search engines. This allows the search engines to index your content properly.</p>

                  <p class="para_h6_bold">Content </p>
                  <p class="roi_para_text">Last but not the least, <b>SEO company in Delhi</b> focus on the content. If you have a
                    very well designed website but the content is subpar, it will immediately be a turn off for a majority of the
                    customers. You need high-quality SEO content that has just the right balance of long-tailed and short keywords and
                    is informative. </p>

                  <p class="roi_para_text">Our content writing team can churn out high-quality SEO content that will engage your
                    clients and thus increase your conversion rates.</p>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card_h_51">
              <div class="card-body">
                <div class="col-md-12 mx-auto">
                  <h4 class="roi_h4_head text-center">What sets us apart from other SEO services companies in Delhi?</h4>

                  <p class="roi_para_text">We have the same goal as our client- the exponential growth in traffic to your website. Our entire team works on coming up with a strategy that will bring real results. Unlike other SEO services in Delhi, we do not take chances and employ half baked strategies. It is a work ethic that makes us one of the highly acknowledged SEO agencies in Delhi NCR. </p>

                  <p class="roi_para_text">We have a proven track record of only delivering 5-star projects. We have earned several accolades in the industry for delivering top work in SEO and have worked with several big wigs. Since as a team we have experience working in different sectors, we know exactly what needs to be done for your brand.</p>

                  <p class="roi_para_text">For a start-up, it can be hard to compete with your already established rivals, but having us as your digital partner will benefit you in numerous ways. We take the responsibility of producing content for your company and publish them in places that will bring in traffic. </p>


                  <p class="roi_para_text">We do not only lend our support to startups, but we also work with small to mid-size firms that are unable to make it work despite their best efforts. Our experts can help find out the problematic area and make some changes to bring in more revenue. </p>


                  <p class="roi_para_text">Give us a call today if you want the graph to tell a success story! </p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="card card_h_51">
              <div class="card-body">
                <div class="col-md-12 mx-auto">
                  <h4 class="roi_h4_head text-center">Other SEO Service's Location</h4>

                  <ul class="card_ul01">
                    <li class="list_seo_text"> <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-delhi/" alt="seo-company-in-delhi" class="a_seo_text"> SEO Services in
                        Delhi</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-services-in-hyderabad/" alt="seo-company-in-hyderabad" class="a_seo_text"> SEO
                        Services in Hyderabad</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-kochi/" alt="seo-company-in-kochi" class="a_seo_text"> SEO Services
                        in Kochi</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-kolkata/" alt="seo-company-in-kolkata" class="a_seo_text"> SEO
                        Services in Kolkata</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-coimbatore/" alt="seo-company-in-coimbatore" class="a_seo_text">
                        SEO Services in Coimbatore</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-pune/" alt="seo-company-in-pune" class="a_seo_text"> SEO Services
                        in Pune</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-in-chennai/" alt="seo-company-in-chennai" class="a_seo_text"> SEO
                        Services in Chennai</a>
                    </li>
                    <li class="list_seo_text">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      <a href="seo-company-bangalore/" alt="seo-company-in-bangalore" class="a_seo_text">  SEO Services in Bangalore</a>
                    </li>
                  </ul>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<br>
<br>
<!-- SEO Service Bangalore Continuity-->

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-6 px-5 bg-red">
      <div class="py-2 sticky-top flex-grow-1">
        <div class="nav flex-sm-column">
          <div class="title-container mx-auto my-3 py-3">
          </div>
          <P class="choosing-ul-p">
            Search Engine Optimization is all about how interactive your website is, how much time user spending on
            the
            website, CTR of a website with respect to the search engines results.
          </P>
          <P class="choosing-ul-p">
            SEO is all about finding your web page on the search engines results with the business-oriented search
            query
            or keywords.
          </P>
          <P class="choosing-ul-p">
            Our team of SEO Analysts devises an organized plan of action by researching, analyzing and evaluating your
            Search engine listing position as per the latest search engine algorithm or Google algorithm updates.
          </P>
          <P class="choosing-ul-p">
            Then, the benchmark against the existing top ranker and execute the plan to enhance the visibility of a
            website and reach the top in the search engine results.
          </P>
          <P class="choosing-ul-p">
            We are named as one of the top 10 SEO company in Delhi.
          </P>
        </div>
      </div>
    </div>

    <div class="col" id="main">
      <div class="col-md-12">
        <div class="row seo-card-block">

          <div class="title-container mx-auto">
          </div>
          <br>

          <div class="banner-space-init"></div>
          <div class="banner-space-init"></div>
          <div class="banner-space-init"></div>


          <div class="col-md-12 ">
            <div class="card-deck">
              <div class="card services-card-shadow mx-2 px-4 py-5 my-auto">
                <div class="card-body">
                  <p class="card-text seoservice-p">Our SEO services company in Delhi can do more than just optimize
                    your business website.
                  </p>
                  <p class="card-text seoservice-p">Some of our seo campaigns will drive immediate traffic to your
                    website.
                  </p>
                  <p class="card-text seoservice-p"> The best SEO service providers in Delhi, we will do SEO, search
                    engine penalty recovery services, <a
                      href="https://brandstory.in/email-marketing-services-in-bangalore/">email marketing</a>,
                    influencer marketing, SMS marketing, <a
                      href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/">paid advertising</a>, web
                    analytics, <a href="https://brandstory.in/website-development-company-in-bangalore/">web
                      design</a>,
                    website redesign etc.
                  </p>
                  <p class="card-text seoservice-p"> We are also expert in search engines marketing advertising
                    services
                    like search advertising, display advertising, mobile app advertising, shopping advertising and
                    video
                    advertising
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>






<!-- SEO Packages and Reporting -->

<div class="container my-3">
  <div class="row">


    <div class="col" id="main">


      <div class="services-card ">

        <div class="title-container mx-auto need-for-seo">
          <h3 class="need-shadow-txt">SEO Packages and Reporting</h3>
        </div>

        <div class="banner-space-init"></div>

        <div class="card-deck py-1">
          <div class="card border-0  mx-2  my-auto">
            <div class="card-body ">
              <p class="card-text need-para">
                Brandstory is the top-rated SEO services company in Delhi or SEO consultant Delhi.
              </p>
              <p class="card-text need-para">
                As a top <a href="https://brandstory.in/">digital marketing agency</a>, We offer the best SEO services
                in Delhi to all kind of business peoples like the small-scale business, medium scale business and
                large-scale business organization.
              </p>
              <p class="card-text need-para">
                Our SEO campaigns has to be executed with different SEO Strategy with different SEO Packages. We also
                have Customized SEO solutions that suit your budget and requirement.
              </p>

              <p class="card-text need-para">
                Some of our SEO package plans
              </p>
            </div>
          </div>

        </div>
      </div>




    </div>

  </div>
</div>


<!-- our seo process -->

<div class="container">
  <div class="row">

    <div class="col" id="main">

      <div class="services-card ">


        <div class="card-deck">
          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Basic SEO Plans
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                Local SEO Plan
              </p>

            </div>
          </div>

          <div class="card border-0">
            <div class="card-body services-card-shadow">
              <p class="card-text need-para text-center">
                National & International SEO Plan
              </p>

            </div>
          </div>
          <p class="card-text seoservice-p mt-3 mx-3">
            Apart from this, we will provide monthly site audit report, monthly keywords ranking report, monthly
            conversion tracking report and event tracking reports.
          </p>

        </div>
      </div>

    </div>

  </div>
</div>


<br><br>

<!-- ROI Strip-->

<div class="container-fluid bg-red p-0">
  <div class="row">
    <div class="row">

      <div class="col-sm-1 my-auto google-container-image p-0">
        <img src="assets/images/wp-content/uploads/2019/icons/seo/gold-medal.png" alt="SEO Services Bangalore" />
      </div>

      <div class="col-sm-11 pl-5">

        <div class="google-container">
          <h2 class="mt-5 branding-get-quote-text roi text-white ">ROI Lead Best SEO Company/Agency in Delhi India
          </h2>
          <p class="text-white branding-cont">We are group of passionate digital marketing experts; industry thought
            leaders and creative designers coming together to produce stunning ROI lead digital marketing campaigns
            for
            brands. We are a social media marketing agency based in Delhi, India providing digital marketing
            campaign management support to brands across the globe.</p><br><br>
        </div>

      </div>
    </div>
  </div>
</div>
<br><br>





<div class="container">
  <div class="row">

    <div class="col" id="main">

      <div class="services-card ">


        <div class="title-container mx-auto my-3">
          <div class="uvc-heading-spacer line_only" style="margin-bottom:12px;height:2px;">
            <span class="uvc-headings-line"
              style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
          </div>
          <h3 class="casestudies-rear-txt">SERVICES</h3>
          <h3 class="need-shadow-txt seo-services">SERVICES</h3>
        </div>
        <br><br>


        <div class="card-deck">
          <div class="card border-0 services-card-shadow">
            <div class="card-body">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/ui-design-company-bangalore/">UI UX Designing</a></h6>
              <p class="card-text need-para">
                As an user-centric design agency in Delhi, India, we create functionally beautiful digital
                experiences that highly engage with your target audience. We tend to create meaningful relationships
                amidst brands and their consumers through inspiring design…
              </p>
              <a href="https://brandstory.in/ui-design-company-bangalore/" class="txt-red">READ MORE</a>

            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/website-development-company-in-bangalore/">Website Development</a></h6>
              <p class="card-text need-para">
                Making sure that your website is universally compatible and user friendly, an exclusive expert team of
                designers and developers are you assigned to to ensure that not only the plan goes according to a
                timeline but also that your approval is taken…
              </p>
              <a href="https://brandstory.in/website-development-company-in-bangalore/" class="txt-red">READ MORE</a>
            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/content-marketing/">Content
                  Marketing</a></h6>
              <p class="card-text need-para">
                Simple.We create digital content. It’s the element that helps us to be the company we are and our ever
                growing client list is an proof to that. Brandstory is one of the leading content marketing
                communications company in Delhi, India provides…
              </p>
              <a href="https://brandstory.in/content-marketing/" class="txt-red">READ MORE</a>
            </div>
          </div>

        </div>
      </div>


      <div class="services-card mt-3">

        <div class="card-deck">
          <div class="card border-0 services-card-shadow">
            <div class="card-body">
              <h6 class="font-weight-bold py-2 need-head"><a href="https://brandstory.in/seo-company-bangalore/">Search
                  Engine Optimisation</a></h6>
              <p class="card-text need-para">
                Search Engine Optimization (SEO) program increases overall visibility of your business across all
                search
                engine platform. It provides an opportunities for brands to create acquisitions (sales, leads,
                inquiries
                etc.), and help consumers to …
              </p>
              <a href="https://brandstory.in/seo-company-bangalore/" class="txt-red">READ MORE</a>

            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/">Pay Per Click (PPC)</a></h6>
              <p class="card-text need-para">
                We increase your digital footprint with Pay Per Click campaigns or Google Adwords and Bing Adwords. A
                plan is sketched out and implemented accordingly, with this your campaign has begun. The plan includes
                specific important keywords …
              </p>
              <a href="https://brandstory.in/pay-per-click-ppc-services-in-bangalore/" class="txt-red">READ MORE</a>
            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/services/social-media-marketing-agency-bangalore/">Social Media
                  Marketing</a></h6>
              <p class="card-text need-para">
                We provide expertise in design implementation providing a full range of social media marketing
                services(SMM) bounding in popular social media platforms, content generation, creatives ideation,
                social
                branding techniques. Holding it all together …
              </p>
              <a href="https://brandstory.in/services/social-media-marketing-agency-bangalore/" class="txt-red">READ
                MORE</a>
            </div>
          </div>

        </div>
      </div>



      <div class="services-card mt-3">

        <div class="card-deck">
          <div class="card border-0 services-card-shadow">
            <div class="card-body">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/email-marketing-services-in-bangalore/">Email Marketing</a></h6>
              <p class="card-text need-para">
                Email Marketing It’s not as easy as it may sound. It’s not just composing an email draft, copying a
                list
                of contacts, and clicking the “send” button. Invariably, you will face struggles ranging from privacy
                issues, permission boundaries, technical glitches …
              </p>
              <a href="https://brandstory.in/email-marketing-services-in-bangalore/" class="txt-red">READ MORE</a>

            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/orm-company-bangalore-india/">Online Reputation Management</a></h6>
              <p class="card-text need-para">
                Online reputation management includes managing your business and its brand value across every review
                and
                rating forum to every social media platform. It is ideally required for 3 major purposes adding to the
                growth of your business…
              </p>
              <a href="https://brandstory.in/orm-company-bangalore-india/" class="txt-red">READ MORE</a>
            </div>
          </div>

          <div class="card border-0 services-card-shadow">
            <div class="card-body ">
              <h6 class="font-weight-bold py-2 need-head"><a
                  href="https://brandstory.in/analytics-and-reporting/">Analytics and Reporting</a></h6>
              <p class="card-text need-para">
                A gripping content, catchy headline, constant updates will mean nothing if you can’t see the returns
                on
                it. So after all the hard work is done, we send you a detailed report and statistics on how well you
                are
                doing on digital…
              </p>
              <a href="https://brandstory.in/analytics-and-reporting/" class="txt-red">READ MORE</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<!-- <br><br>

<div class="clients text-center">
  <div class="uvc-heading-spacer line_only" style="margin-bottom: 12px; height: 2px;"><span class="uvc-headings-line"
      style="border-style: solid; border-bottom-width: 2px; border-color: rgb(218, 31, 38); width: 30px; margin: 0px auto;"></span>
  </div>
  <h3 class="clients-heading-clone">SEO FAQs </h3>
  <h3 class="clients-heading">QUESTIONS</h3>
  <br>
  <br>
</div> -->

<!-- FAQ -->
<!-- <div class="container">

  <div class="col-md-12 mx-auto">
    <div class="row" *ngFor="let item of faq_array; let i=index;">
      <p class="float-left w_95">
        {{item.title}}
      </p>

      <span class="float-right" (click)="faq_click(i);">
        <i class="fa " aria-hidden="true" [ngClass]="{' fa-plus': !item.checked,' fa-minus': item.checked}"></i>
      </span>

      <div class="col-12 mb-3" *ngIf="item.checked">

        <p *ngIf="item.sub_text">
          {{item.sub_text}}
        </p>

        <ul class="desc_width90" *ngIf="item.message_list.length>0">
          <li class="list_h30" *ngFor="let list of item.message_list;">
            <div class="fa_hand_p10">
              <i class="fa fa-share" aria-hidden="true"></i>
            </div>
            <div class="text_w90">
              <span class=""> {{list}} </span>
            </div>
          </li>
        </ul>

        <p *ngIf="item.last_text">
          {{item.last_text}}
        </p>

      </div>

    </div>
  </div>
</div> -->

<br>
<br>

<!-- Google Partner -->
<div class="container-fluid bg-red p-0">
  <div class="row">
    <div class="row">

      <div class="col-sm-1 my-auto google-container-image p-0">
        <img src="assets/images/wp-content/uploads/2019/icons/seo/trophy.png" alt="SEO Company in Bangalore" />
      </div>

      <div class="col-sm-7">

        <div class="google-container">
          <h2 class="mt-5 branding-get-quote-text text-white ">Official Google Partner</h2>
          <p class="text-white branding-cont">We are official partners with Google, so you know that you are in the
            hands of a trusted and promising company.</p><br><br>
        </div>

      </div>
      <div class="col-sm-4 my-auto google-container-image">
        <a href="https://www.google.com/partners/agency?id=1975289574" target="_blank"><img
            src="assets/images/wp-content/uploads/2019/icons/seo/gpartner.png" alt="Official Google Partner" /></a>
      </div>
    </div>
  </div>
</div>
<br><br>


<script type='application/ld+json'>
    {
     "@context": "http://www.schema.org",
     "@type": "ProfessionalService",
     "name": "seo company in Delhi | seo services in Delhi",
     "url": "https://brandstory.in/seo-company-in-Delhi/",
     "logo": "https://brandstory.in/assets/images/wp-content/uploads/2017/10/logo.png",
     "image": "https://brandstory.in/assets/images/wp-content/uploads/2017/10/logo.png",
     "description": "Best seo companies in Delhi, India. Hire Brandstory seo agency in Delhi to increase your website visibility in search engines. Enhance your website ranking in google and other search engines with brandstory seo services in Delhi",
                  "telephone": "+919008504821",
                  "pricerange":"Contact: +919008504821 | Email : info@brandstory.in",
      "aggregateRating": {
    "@type": "AggregateRating",
     "ratingValue": "[4.0]",
     "reviewCount": 39
    },
     "address": {
    "@type": "PostalAddress",
    "streetAddress": "No 5, 1st Cross, 3rd floor, Krishna Reddy Colony, Domlur Layout, Delhi, Karnataka 560071",
    "addressLocality": "Delhi",
    "addressRegion": "Karnataka",
    "postalCode": "560071",
    "addressCountry": "India"
     },
     "geo": {
    "@type": "GeoCoordinates",
    "latitude": "12.9561124",
    "longitude": "77.637451"
     },
    "sameAs" : [ "https://www.facebook.com/brandstory.in/",
    "https://www.linkedin.com/company/brandstory-in/",
           "https://twitter.com/BrandStory_in/"],
           "openingHours": "Mo, Tu, We, Th, Fr 10:00-19:00",
           "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+919008504821",
    "contactType": "customer support"
     }
  }


  </script>

<!-- ROI SEO state -->




<!-- Request SEO Free Audit - modal -->
<div class="container">

  <div class="col-sm-8">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Request SEO Free Audit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="bannerModalForm" (ngSubmit)="onSubmitBannerModal()" novalidate>
          <div class="form-group">
            <input type="text" formControlName="fName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fName.errors }" placeholder="Enter Name" />
            <div *ngIf="submitted && fbannermodal.fName.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fName.errors.required" class="px-3">Name is required</div>
              <div *ngIf="fbannermodal.fName.errors.pattern" class="px-3">Only characters and Minimun 3 characters
                allowed</div>
              <div *ngIf="fbannermodal.fName.errors.minLength" class="px-3">Minimun 3 characters allowed</div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" formControlName="fEmail" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fEmail.errors }" placeholder="Enter Email">
            <div *ngIf="submitted && fbannermodal.fEmail.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fEmail.errors.required" class="px-3">Email is required</div>
              <div *ngIf="fbannermodal.fEmail.errors.email" class="px-3">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">

            <input type="tel" formControlName="fPhone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fPhone.errors }" placeholder="Mobile Number" />
            <div *ngIf="submitted && fbannermodal.fPhone.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fPhone.errors.required" class="px-3">Mobile Number is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.pattern" class="px-3">Only Numbers is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.minLength" class="px-3">Mobile Number format is required</div>
              <div *ngIf="fbannermodal.fPhone.errors.maxLeanth" class="px-3">Mobile Number format is required</div>
            </div>
          </div>

          <div class="form-group">

            <input type="url" formControlName="fService" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fService.errors }" placeholder="Website Link" />
            <div *ngIf="submitted && fbannermodal.fService.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fService.errors.required" class="px-3">Website Link is required</div>
              <div *ngIf="fbannermodal.fService.errors.pattern" class="px-3">Website Link is required</div>
            </div>
          </div>

          <div class="form-group">

            <textarea formControlName="fMessage" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fbannermodal.fMessage.errors }" placeholder="Message" rows="2"
              style="height:auto !important;"></textarea>
            <div *ngIf="submitted && fbannermodal.fMessage.errors" class="invalid-feedback">
              <div *ngIf="fbannermodal.fMessage.errors.required" class="px-3">Message is required</div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary text-center bg-red border-0">Submit</button>

        </form>
        <br><br>
      </div>
    </ng-template>
  </div>
</div>



<!-- ROI SEO state -->
<!-- <div class="container py-5">
  <h1 class="col-md-8 text-center mx-auto roi_head">Best SEO Agency in New Delhi</h1>

  <div class="col-md-12 mx-auto mt-5">

    <p class="roi_para_text">When everything is becoming digitized, you cannot escape the term SEO. The term creeps up
      on every article that has to do with business and online marketing. The term stands for search engine
      optimization. We are an <b>SEO company in Delhi</b> offering SEO solutions.</p>

    <p class="roi_para_text">The reason why it pops up on every article and why Google keeps changing its SEO game rules
      that keep frustrating experts is that SEO plays a crucial role in ranking your website on the Google search
      results. Every few days some new start-up company comes up and launch their website and all these websites compete
      for online visibility. The easiest way to get online visibility? You guessed it- SEO.</p>

    <p class="roi_para_text">If you are starting a business you cannot just ignore the importance of online visibility
      and presence in this digital age. If your website does not have good reviews and if it does not show up on the
      first 5 ranks of the Google SERPs, then you will not see much traffic to your website no matter how top-quality
      service you provide.</p>

    <p class="roi_para_text">We are an <b>SEO company in Delhi</b> that helps you bridge this gap where you provide
      quality products but are not seeing the numbers grow on your monthly sales report. We help you change the game and
      help you get ahead in the race. The <b>SEO agency in Delhi</b> analyze your market and creates an SEO campaign
      that is sure to bring in the results that you have been hoping to see for a while now.</p>

    <p class="roi_para_text">We have over 500 in-house experts working on your project to increase the numbers at the
      end of the day. <b>SEO in Delhi</b> guarantees you a 60 percent jump rate in your traffic once you have us on your
      team. </p>


  </div>

  <div class="col-md-12 mx-auto mt-5">

    <h4 class="roi_h4_head">What can we do for you?</h4>

    <p class="roi_para_text">As the best SEO company in Delhi, we can do the following for your company.</p>

    <ul>
      <li class="list_normal">First and foremost, our team will have a website audit to analyze your website structure
        and figure out the areas that are out of date according to the latest Google SEO guidelines. </li>

      <li class="list_normal">Our team will then work on coming up with a strategy that will cover these problematic
        areas.</li>


      <li class="list_normal">Conduct keyword research that is related to your products and services. </li>


      <li class="list_normal">After the research is concluded, our team will optimize your website to make it crawlable
        so that it can easily be indexed by search engines. Doing this will make sure that your website will pop up when
        an internet user searches with a keyword that is relevant to your products. </li>

      <li class="list_normal"><b>SEO company in Delhi</b> will also optimize your web design to make it more responsive
        and mobile-friendly. We will also optimize it to be voice friendly since a recent study shows that voice
        searching will be the norm in the near future. </li>


      <li class="list_normal">Our team will take care of the on-page SEO content as well as off-page SEO content. We
        will help you create backlinks to have a better ranking.</li>


      <li class="list_normal">Our team will constantly keep track of the changes and will immediately attend to any
        problem that might arise. We will continue to make tweaks according to the latest SEO tactics. </li>


      <li class="list_normal">You will be assigned a project manager who will constantly keep you in the loop regarding
        the stage we are working on and what changes we have made. We will also create a detailed performance report to
        help you understand what we have achieved so far. </li>

    </ul>

  </div>


  <div class="col-md-12 mx-auto mt-5">
    <h4 class="roi_h4_head">What SEO techniques do we employ?</h4>

    <p class="roi_para_text">These are key techniques that we apply to optimize your website for it be SEO friendly:</p>

    <p class="para_h6_bold">On-page SEO</p>
    <p class="roi_para_text">On-page SEO includes the content on your website. Our team uses targeted keywords, edits
      your meta tags, and meta description, and also uses descriptive URLs.</p>

    <p class="para_h6_bold">Off-page SEO</p>
    <p class="roi_para_text">Off-page SEO includes external link building. This link building establishes a link with
      the other vast content on the internet. Off-page SEO when done right can help drive a lot of traffic to your
      website. </p>

    <p class="para_h6_bold">Technical SEO</p>
    <p class="roi_para_text">Technical SEO involves optimization of your website and it is content so that it is easily
      readable and explorable by search engines. This allows the search engines to index your content properly.</p>

    <p class="para_h6_bold">Content </p>
    <p class="roi_para_text">Last but not the least, <b>SEO company in Delhi</b> focus on the content. If you have a
      very well designed website but the content is subpar, it will immediately be a turn off for a majority of the
      customers. You need high-quality SEO content that has just the right balance of long-tailed and short keywords and
      is informative. </p>

    <p class="roi_para_text">Our content writing team can churn out high-quality SEO content that will engage your
      clients and thus increase your conversion rates.</p>

  </div>

  <div class="col-md-12 mx-auto mt-5">
    <h2 class="roi_h4_head">What sets us apart from other SEO services companies in Delhi?</h2>

    <p class="roi_para_text">We have the same goal as our client- the exponential growth in traffic to your website. Our entire team works on coming up with a strategy that will bring real results. Unlike other SEO services in Delhi, we do not take chances and employ half baked strategies. It is a work ethic that makes us one of the highly acknowledged SEO agencies in Delhi NCR. </p>

    <p class="roi_para_text">We have a proven track record of only delivering 5-star projects. We have earned several accolades in the industry for delivering top work in SEO and have worked with several big wigs. Since as a team we have experience working in different sectors, we know exactly what needs to be done for your brand.</p>

    <p class="roi_para_text">For a start-up, it can be hard to compete with your already established rivals, but having us as your digital partner will benefit you in numerous ways. We take the responsibility of producing content for your company and publish them in places that will bring in traffic. </p>


    <p class="roi_para_text">We do not only lend our support to startups, but we also work with small to mid-size firms that are unable to make it work despite their best efforts. Our experts can help find out the problematic area and make some changes to bring in more revenue. </p>


    <p class="roi_para_text">Give us a call today if you want the graph to tell a success story! </p>

  </div>

</div> -->

<!-- ROI SEO state -->

